# Python

>Python is a general purpose interpreted, interactive, object oriented and high level programming language with dynamic sementic.
Python was created by Guido Van Rossum during 1985-1990 and is very easy to learn.

>Language is not named after a snake, but after a comedy show "Flying Circus" which monty Python was a fan of.

>Python is designed to be highly readable. It uses English keywords frequently as other languages uses Punctation and it has fewer syntactical constructions than other languages.

#### Following are the important features of Python Programming:

>It is free and open source.

>It supports functional and structured programming methods as well as OOP.

>It provides very high level dynamic data types and supports dynamic type checking.

>Itegrated: It can be easily integreted with C, C++, COM, ActiveX, COBRA and JAVA.

>Broad Standard Library: Python's bulk of the library is very portable and cross platform compatible on UNIX, Windows and Macintosh.

>Easy to maintain: Python's source code is fairly easy to maintain.

>Portable : It can be used in any opearting system.

>Databases: It provides interfaces to all major commercial databases.

>Scalable: It provides a better structure and support large programs than shell scripting.

#### Applications of Python :

>Youtube : The popular youtube video sharing service is largely written in python.

>Google: It makes extensive use of python in its web search systems.

>GUI Programming: Python supports GUI application that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh and the X window system of Unix.

>Data Analytics, Business Analytics and Machine Learning.

>Raspberry pi : Its singleboard computer promotes python as its educational language.

>Game Development.

>IOT and Robotics.

# Python | Output using print() function

>1.The simplest way to produce output is using the print() function where you can pass zero or more expressions by commas.

>2.This function converts the expressions you pass into a string before writing to the screen.

In [1]:
print("Hello World!!!")  #print is a output statement

Hello World!!!

In [2]:
print('Hello world')
            print('Hello World')

IndentationError: unexpected indent (Temp/ipykernel_12408/1270584385.py, line 2)

In [2]:
print(1.1,1.2,1.3)

1.1 1.2 1.3

In [3]:
print('this is example',3,'of print funtion')

this is example 3 of print funtion

In [4]:
x = 'we can also print the variable'
print(x)

we can also print the variable

print function has default new line argument, which means after printing the statement,
it moves the cursor to the new line

In [5]:
print("this is line one")
print("this is line two")

this is line one
this is line two

In [6]:
# however can overwrite this end line arguments by simple doing this...
print("this is line one",end=" ")
print("this is line two")

this is line one this is line two

In [7]:
print(1)
print(2)
print(3)

1
2
3

In [8]:
print(1,end=" ")
print(2,end=" ")
print(3)

1 2 3

In [9]:
a = 10  #a = variable #10=value  # = is assignment operator

In [10]:
a

10

In [11]:
b = 20
x = a + b
print(x)

30

In [1]:
Case Sensitive Language
print <> Print <> PRINT

SyntaxError: invalid syntax (Temp/ipykernel_12408/2317080350.py, line 1)

# Indentation

Indentatation refers to the spaces at the begining of the code line. It is very important as Python uses indentation to indicate a block of code. If the indentation id not correct we will endup with IndentationError error.

In [1]:
print(1)
print(2)

1
2

In [2]:
print(1)
  print(2)

IndentationError: unexpected indent (4226839908.py, line 2)

In [1]:
p = 10
if p == 10:
    print('P is equal to 10')  # correct indentation

P is equal to 10

In [2]:
#if indentation skipped we will encounter the Indentation Error
p = 10
if p == 10:
print('P is equal to 10')

IndentationError: expected an indented block (Temp/ipykernel_3592/595780228.py, line 4)

# Input and Output Operations

>1.This is a function first takes the input from the user and then evaluate the expression, which means Python automatically identifies whether
user entered a string or a number or a list.

>2.If the input provided is not correct then either syntax error or exception raised by Python.

In [12]:
# Input

name = input('Please enter your name: ')
print('\nWelcome', name, '!!!') #\n creates a new line

Please enter your name: Jayesh

Welcome Jayesh !!!

In [39]:
print("Welcome",name)

Welcome Jayesh

In [13]:
type(name)

str

In [21]:
print('This is',name)

This is Jayesh

In [40]:
age = input("Please enter your Age: ")
print(age)
type(age)

Please enter your Age: 25
25

str

In [14]:
num = eval(input('Please enter a number between 0 to 10: '))
print('\nThe Squared value of the number is', num*num)

Please enter a number between 0 to 10: 8

The Squared value of the number is 64

In [15]:
type(num)

int

In [41]:
sales = int(input("Sales Value is: "))
print("Sales is", sales,"Rs.")

Sales Value is: 25000
Sales is 25000 Rs.

In [42]:
sales = float(input("Sales Value is: "))
print("Sales is", sales,"Rs.")

Sales Value is: 25658.3658
Sales is 25658.3658 Rs.

In [43]:
#Evaluator operator is a function which evaluate the input supplied by the user if it is integer it assigned 'int' datatype to it and if it is floating it will assign 'float' datatyppe to it.
marks=eval(input("Please enter your marks in Percentage: "))
print("Your score is ",marks)
type(marks)

Please enter your marks in Percentage: 85.65
Your score is  85.65

float

In [44]:
marks=eval(input("Please enter your marks in Percentage: "))
print("Your score is ",marks)
type(marks)

Please enter your marks in Percentage: 65.65
Your score is  65.65

float

In [45]:
name = input("Please specify your Name: ")
age = eval(input("Please enter your Age: "))
exp = eval(input('Please enter your Experience: '))

print(name, "at the age of", age,"working with an experience of", exp, "years.")

Please specify your Name: Jayesh
Please enter your Age: 25
Please enter your Experience: 3
Jayesh at the age of 25 working with an experience of 3 years.

In [46]:
print('\n',name, "at the age of", age,"working with an experience of", exp, "years.", sep="--")   #putting the separator as "--" instaed of space.

--Jayesh--at the age of--25--working with an experience of--3--years.

In [47]:
print('\n',name, "at the age of", age,"working with an experience of", exp, "years.")

 Jayesh at the age of 25 working with an experience of 3 years.

In [48]:
print("name is: ",name)
print("Age is: ",age)
print("Experience is: ",exp)

name is:  Jayesh
Age is:  25
Experience is:  3

In [49]:
print("Name is: ",name, end= " | ")  #Instead of new line we create new sentence in the same lone using pipe operator.
print("Age is: ",age, end= " | ")
print("Experience is: ",exp)

Name is:  Jayesh | Age is:  25 | Experience is:  3

In [50]:
print('{} at the age of {} working with an experience of {} years'.format(name, age, exp))  #format function

Jayesh at the age of 25 working with an experience of 3 years

In [51]:
print(f'{name} at the age of {age} working with an experience of {exp} years')  #format function

Jayesh at the age of 25 working with an experience of 3 years

### Order of Operations
PEMDAS

#### PEMDAS Vs BODMAS:
PEMDAS is paranthesis, exponents. multiplication, division, addition,subtraction.

BODMAS is brackets, orders, division, multiplication, addition, subtraction.

2+3-1
=(2+3)-1
=4

1+1**5-2
=1+(1**5)-2
=1+1-2
=0

2*3/2
=(2*3)/2
=3

In [38]:
print(2+3-1)
print(1+1**5-1)  #(**) means exponent means a***b = a^b
print(1+1**(5-2))
print(2+3/2)
print(2**(3+5-(1+3)*9))

4
1
2
3.5
3.725290298461914e-09

# eval()

>The eval() method parses the expression passed to it and runs python expression(code) within the program.

In [58]:
num = eval(input('Please enter a number between 0 to 10: '))
print('\nThe Squared value of the number is', num*num)

Please enter a number between 0 to 10: 25

The Squared value of the number is 625

In [59]:
num = input('Please enter your address: ')
print('\nAddress is', num)

Please enter your address: 143, BTM, Bengluru

Address is 143, BTM, Bengluru

In [60]:
num1 = eval(input('Please enter your Height:'))
num2 = eval(input('Please enter your weight:'))
print('\nThe Height is {} And the weight is {}'.format(num1, num2))

Please enter your Height:172
Please enter your weight:65

The Height is 172 And the weight is 65

In [61]:
num1 = eval(input('Enter your weight in kilograms:'))
print('Your weight in Pounds is: ', num1*2.2)

Enter your weight in kilograms:67
Your weight in Pounds is:  378.40000000000003

In [62]:
num1 = eval(input('Enter your weight in kilograms:'))
num2 = eval(input('Enter your Height in Cms:'))
print('Your Height is {} cms and your weight in Pounds is:{}'.format(num2, num1*2.2))

Enter your weight in kilograms:68
Enter your Height in Cms:172
Your Height is 172 cms and your weight in Pounds is:149.60000000000002

In [63]:
print('The average weight of the product:', num1, sep='----')

The average weight of the product:----68

# Typecasting 
Changing the datatype from one into another as per our requirement.

In [22]:
age = int(input("Enter your Age: "))  #converting string into integer type
print("Age is: ",age)
type(age)

Enter your Age: 25
Age is:  25

int

In [23]:
x = int('2017')

In [24]:
type(x)

int

In [25]:
type('2017')

str

In [26]:
int(3.252658741356)

3

In [27]:
float('1.99')

1.99

In [28]:
float(4)

4.0

# Commenting

In [29]:
# Single Line Commenting - Ctrl + /

In [30]:
# This is to demonstrate how things
# work in python
# in terms of commenting     #Ctrl + A and Ctrl + /

In [31]:
"""
This is to demonstrate how things
work in python
in terms of double line commenting
"""

'\nThis is to demonstrate how things\nwork in python\nin terms of double line commenting\n'

In [32]:
'''
This is to demonstrate how things
work in python
in terms of double line commenting
'''

'\nThis is to demonstrate how things\nwork in python\nin terms of double line commenting\n'

# Escape Characters

**#** is used for making comments

In [53]:
#this is comment and this will not executed

**\n** this is used to go on a new line

In [54]:
print('this is \n new line')

this is
 new line

**\t** is used to give tab or extra spaces between words

In [55]:
print('this is \t tab example')

this is 	 tab example

In [56]:
print('doesn't it sounds good')

SyntaxError: invalid syntax (Temp/ipykernel_9488/3890878859.py, line 1)

to overcome this type of situation we escape the single quotes

In [57]:
print('doesn\'t it sounds good')

doesn't it sounds good

## Python Keywords

Python keywords are special reserved words to convey a special meaning to the compiler/interpreter.Each keyword have a special meaning and a specific operation. These keywords can't be used as a variable.

In [33]:
import keyword
print(keyword.kwlist, end=" ")

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [34]:
len(keyword.kwlist)

36