# Sets
>1.A set is an unordered collection data type is iterable, mutable and has no duplicate elements.

>2.The major advantage of using a set as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

In [1]:
#Example of Set
{1,5,4,3,2,4,5,3,2,3,2,1}

{1, 2, 3, 4, 5}

In [2]:
s = {1,2,"Jayesh",3,"Patil"}
print(s)

{1, 2, 3, 'Jayesh', 'Patil'}

In [3]:
s = {"Apple","Banana","Cherry"}
print(s)

{'Banana', 'Cherry', 'Apple'}

In [4]:
s[0]

TypeError: 'set' object is not subscriptable

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [5]:
thisset = {"Apple","Banana","Cherry"}

for x in thisset:
    print(x)

Banana
Cherry
Apple

In [6]:
# Check if banana is present in the set

thisset = {"Apple","Banana","Cherry"}

print("banana" in thisset)
print("Apple" in thisset)
print("Orange" in thisset)

False
True
False

In [7]:
# Once a set is created, you cannot change its items, but you can add new items.
# To add one item to a set use the add() method.

thisset = {"Apple","Banana","Cherry"}

thisset.add("Orange")

print(thisset)

{'Banana', 'Cherry', 'Apple', 'Orange'}

In [8]:
# To add more than one item to a set use the update() method.

thisset = {"Apple","Banana","Cherry"}
thisset.update(["orange","mango","grapes"])
print(thisset)

{'orange', 'Banana', 'grapes', 'Apple', 'mango', 'Cherry'}

In [9]:
# Get the number of items in the set

thisset = {"Apple","Banana","Cherry"}

print(len(thisset))

3

In [10]:
# Remove "Banana" from set

thisset = {"Apple","Banana","Cherry"}
thisset.remove("Banana")

print(thisset)

{'Cherry', 'Apple'}

Delete cannnot be used in sets because del needs position

## Join Two Sets
> There are several ways to join two or more sets in Python.

> You can union() method that return a new set containing all items from both sets or the update() method that inserts all the items from one set into another.

In [11]:
# The union() method returns a new set with all items from both sets:
set1 = {'a','b','c',2}
set2 = {1,2,3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 'b', 2, 3, 'c'}

In [12]:
#The update() method inserts the items in set 2 into set 1:
set1 = {'a','b','c'}
set2 = {1,2,3}

set1.update(set2)
print(set1)

#Note: Both union() and update() will exclude any duplicate items.

{'a', 1, 'b', 2, 3, 'c'}

In [13]:
set1 = {'a','b','c'}
set2 = {1,2,3}
set1 | set2  #union

{1, 2, 3, 'a', 'b', 'c'}

In [14]:
set1 = {'a','b','c'}
set2 = {"a",2,3}
set1&set2  #intersection

{'a'}

In [15]:
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}

z = y.difference(x)
print(z)

{'microsoft', 'google'}

In [16]:
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}

z = y-x
print(z)

{'microsoft', 'google'}

In [17]:
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}

z = y+x
print(z)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [18]:
Set = set(["a", "b", "c"]) 
  
print("Set: ") 
print(Set) 
  
# Adding element to the set 
Set.add("d") 
  
print("\nSet after adding: ") 
print(Set)

Set:
{'a', 'b', 'c'}

Set after adding:
{'a', 'b', 'c', 'd'}

##### Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.

In [19]:
normal_set = set(["a", "b","c"]) 
  
print("Normal Set") 
print(normal_set) 
  
# A frozen set 
frozen_set = frozenset(["e", "f", "g"]) 
  
print("\nFrozen Set") 
print(frozen_set) 
  
# we are trying to add element to a frozen set 
# frozen_set.add("h")

Normal Set
{'a', 'b', 'c'}

Frozen Set
frozenset({'e', 'f', 'g'})

In [20]:
# Adding Elements
people = {"Jay", "Idrish", "Archi"} 
  
print("People:", end = " ") 
print(people) 
  
# This will add Daxit in the set 
people.add("Daxit") 
  
# Adding elements to the set using iterator 
for i in range(1, 6):  
    people.add(i)  
  
print("\nSet after adding element:", end = " ") 
print(people)

People: {'Archi', 'Jay', 'Idrish'}

Set after adding element: {1, 2, 3, 4, 5, 'Archi', 'Daxit', 'Idrish', 'Jay'}

In [21]:
# initialize my_set
my_set = {1,3}
print(my_set)

# my_set[0] # you will get an error TypeError: 'set' object does not support indexing

# add an element
my_set.add(2)
print(my_set)

# add multiple elements
my_set.update([2,3,4])
print(my_set)

# add list and set
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [22]:
# Union

people = {"Jay", "Idrish", "Archil"} 
vampires = {"Karan", "Arjun"} 
dracula = {"Deepanshu", "Raju"} 
  
# Union using union() function 
population = people.union(vampires) 
  
print("Union using union() function") 
print(population) 
  
# Union using "|" operator 
population = people|dracula 
  
print("\nUnion using '|' operator") 
print(population)

Union using union() function
{'Karan', 'Idrish', 'Archil', 'Arjun', 'Jay'}

Union using '|' operator
{'Raju', 'Idrish', 'Deepanshu', 'Archil', 'Jay'}

In [23]:
# Intersection

set1 = set() 
set2 = set() 
  
for i in range(5): 
    set1.add(i) 
  
for i in range(3,9): 
    set2.add(i) 
  
# Intersection using 
# intersection() function 
set3 = set1.intersection(set2) 
  
print("Intersection using intersection() function") 
print(set3) 
  
# Intersection using "&" operator 
set3 = set1 & set2 
  
print("\nIntersection using '&' operator") 
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [24]:
# Difference

set1 = set() 
set2 = set() 
  
for i in range(5): 
    set1.add(i) 
  
for i in range(3,9): 
    set2.add(i) 
  
# Difference of two sets 
# using difference() function 
set3 = set1.difference(set2) 
  
print(" Difference of two sets using difference() function") 
print(set3) 
  
# Difference of two sets 
# using '-' operator 
set3 = set1 - set2 

print("\nDifference of two sets using '-' operator") 
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [25]:
# Clear() method empties the whole set.

set1 = {1,2,3,4,5,6} 
  
print("Initial set") 
print(set1) 
  
# This method will remove all the elements of the set 
set1.clear() 
  
print("\nSet after using clear() function") 
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [26]:
# Operations in set

# Creating two sets 
set1 = set() 
set2 = set() 
  
# Adding elements to set1 
for i in range(1, 6): 
    set1.add(i) 
 
# Adding elements to set2 
for i in range(3, 8): 
    set2.add(i) 
  
print("Set1 = ", set1) 
print("Set2 = ", set2) 
print("\n") 
  
# Union of set1 and set2 
set3 = set1 | set2# set1.union(set2) 
print("Union of Set1 & Set2: Set3 = ", set3) 
  
# Intersection of set1 and set2 
set4 = set1 & set2# set1.intersection(set2) 
print("Intersection of Set1 & Set2: Set4 = ", set4) 
print("\n") 
  
# Checking relation between set3 and set4 
if set3 > set4: # set3.issuperset(set4) 
    print("Set3 is superset of Set4") 
elif set3 < set4: # set3.issubset(set4) 
    print("Set3 is subset of Set4") 
else : # set3 == set4 
    print("Set3 is same as Set4") 
  
# displaying relation between set4 and set3 
if set4 < set3: # set4.issubset(set3) 
    print("Set4 is subset of Set3") 
    print("\n") 
  
# difference between set3 and set4 
set5 = set3 - set4 
print("Elements in Set3 and not in Set4: Set5 = ", set5) 
print("\n") 
  
# checkv if set4 and set5 are disjoint sets 
if set4.isdisjoint(set5): 
    print("Set4 and Set5 have nothing in common\n") 
  
# Removing all the values of set5 
set5.clear() 
  
print("After applying clear on sets Set5: ") 
print("Set5 = ", set5) 

# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator for symmetric difference
print('\nThe elements from both the sets without anything in common', A ^ B)

Set1 =  {1, 2, 3, 4, 5}
Set2 =  {3, 4, 5, 6, 7}


Union of Set1 & Set2: Set3 =  {1, 2, 3, 4, 5, 6, 7}
Intersection of Set1 & Set2: Set4 =  {3, 4, 5}


Set3 is superset of Set4
Set4 is subset of Set3


Elements in Set3 and not in Set4: Set5 =  {1, 2, 6, 7}


Set4 and Set5 have nothing in common

After applying clear on sets Set5:
Set5 =  set()

The elements from both the sets without anything in common {1, 2, 3, 6, 7, 8}

In [27]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
my_set.discard(4)
print(my_set)

# remove an element
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
my_set.discard(2)
print(my_set)

# remove an element not present in my_set you will get an error Output: KeyError: 2

# my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}