# Functions in Python

###### A function is a block of organized, reusable sets of instructions that is used to perform to some related actions

- Why do we have functions?
  - Re-usability of code minimizes redundancy
  - Procedural decomposition make things organized.

- There are mainly two types i.e
  - Built-in function
  - User defined function

## Built-in Functions:
> Built in functions are all those function and methods that we have used till now.

> The Python interpreter has a number of functions and types built into it that are always available.

In [6]:
print('Jayesh')
print(type("Jayesh"))
print(len("Jayesh"))
print(len([1,2,3,4,5,6]))
print(max([1,2,3,4,5,6]))
print(min([1,2,3,4,5,6]))
print(pow(10,3))
print(range(11))
print(list(range(11)))

Jayesh
<class 'str'>
6
6
6
1
1000
range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Type conversion functions

In [2]:
int('32')

32

In [3]:
type(32)

int

In [4]:
type('32')

str

In [5]:
int(3.88888888)

3

In [6]:
int(-2.33)

-2

In [7]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

In [8]:
float(32)

32.0

In [9]:
float(72.7576)

72.7576

In [10]:
str(32)

'32'

## Math Functions

In [13]:
import math as m
print(m)

<module 'math' (built-in)>

In [15]:
help(m)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [16]:
# it is used with dot notations.
a = math.sin(90)
b = math.cos(90)
print(a+b)

0.4459230474713877

In [17]:
import math as m
a = 2*m.tan(90)
print(a)

-3.990400824416484

In [18]:
print(m.sqrt(4))

2.0

In [19]:
print(m.ceil(5.1))  #next bigger integer

6

In [20]:
print(m.floor(5.1)) #previous integer

5

In [21]:
print(m.exp(3.0))   #e^3(2.718 is approximate value of e)

20.085536923187668

In [22]:
print(m.log(3))

1.0986122886681098

In [23]:
print(m.log10(2))

0.3010299956639812

In [24]:
print(m.pow(2,3)) #2^3 power default output is float

8.0

## Composition functions

> It is ability to take small building blocks and compose them.

In [25]:
import math as m
print(m.pow(3,(m.log10(m.tan(m.sin(90))))))

1.1101041343168954

In [26]:
m.sin(m.sinh(30))

-0.9992995818189946

## User defined function

> User defined function that the name itself it mans it is defined by user to make code more easy, short and effecive.

> Functions enable us to reuse logic an infinite number of times without the codes.

**Syntax:**
- def function_name(arg1,arg2,arg3,…):
     - statements
     - return expression

> To define a function we must use the keyword def followed by the name of the number followed parentheses. 

> Inside these parentheses we can list the input to the function.Another name for inputs is arguments.

> So lets say this function has zero or no argument , next type a colon and press enter.

> The colon  is how your start a new code block in python for our first function we will keep things simple.

> We will use keyword pass, the word pass is how you tell python to skip this line and do nothing.

> Notice that we indented the code, in python we group code by indentation.

In [8]:
def welcome():
    print('Welcome to Python Programming')

In [10]:
welcome()

Welcome to Python Programming

The function welcome did nothing as we told this function to do.By the way, look what happens if you forget to type parentheses, withour parentheses , python displays that welcome is a function and also gives its memory address.

In [36]:
welcome

###### Now we will write a function that actually does something, 
- we will start with d-e-f. 
- We will name this function as greetings. 
- Next, list the arguments inside parentheses.
- This function will have zero arguments. 
- Finally, type colon and press enter.
- Function in python can return values.
- To return a  values, type the word “return”  and then the oject.
- This function will return the string “Hey There Hello world.”
- Return values are optional, you are under no obligation to return something.

In [29]:
def greet():
    print("Hello Learners.")
    print("I am your Coach")
    print("My name is Jayesh patil")

In [30]:
print("HEY")
greet()

HEY
Hello Learners.
I am your Coach
My name is Jayesh patil

In [31]:
greet()
greet()

Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil

In [32]:
for i in range(10):
    greet()

Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil
Hello Learners.
I am your Coach
My name is Jayesh patil

In [11]:
def greet(name):
    print(f"Hello {name}")

In [12]:
greet('Jay')

Hello Jay

In [13]:
greet('Sampada')

Hello Sampada

In [33]:
def abc():
    print("Hi,I am abc function")
    
def xyz():
    print("Hi, I am xyz function")

In [34]:
abc()

Hi,I am abc function

In [35]:
xyz()

Hi, I am xyz function

We can also store a function into a variable

In [37]:
x = greet()
x

Hello Learners.
I am your Coach
My name is Jayesh patil

In [38]:
def vol_of_sphere(r):
    v = (4.0/3.0)*3.14*(r**3)
    return v

In [39]:
vol_of_sphere(5)

523.3333333333334

In [40]:
def vol_of_sph(r):
    v = (4.0/3.0)*3.14*(r**3)
    print(v)

In [41]:
vol_of_sph(5)

523.3333333333334

Because we used an argument when defining the function, you must provide an inpurt when calling it –‘r’ is a required argument. Look what happens if you call ‘volume’ without any argument.

In [42]:
vol_of_sphere()

TypeError: vol_of_sphere() missing 1 required positional argument: 'r'

In [43]:
def triangle_area(b,h):
    return 0.5*b*h

triangle_area(3,6)

9.0

Function in python can accept another kind of arguments called “keyword arguments”.

###### To show how to use these kinds of arguments,
- We will write a function which converts a  persons heights from feet and inches to centimeters.
- 1 inch = 2.45 cm
- 1 foot = 12 inches

- We will call this function cm , for centimeter. 
- This  function will accept two arguments, feet and inches.
- Notice that these arguments have equal signs after them since we are assigning a default values 0 to each argument. 
- For this reason, python also calls keyword  arguments, “default” arguments.

In [1]:
def cm(feet =0, inches=0):
    inchestocm = inches * 2.54
    feettocm = feet * 12 * 2.54
    return inchestocm + feettocm

In [2]:
cm()

0.0

In [3]:
cm(5)  #By default it will set inches=0

152.4

In [46]:
cm(5,0) #feet = 5 ,inches=0

152.4

In [47]:
cm(5,8) #feet=5,inches = 8

172.72

In [48]:
#we can also specify inches values as first
cm(inches=8,feet=5)

172.72

In [49]:
def greeting(com = "Facebook"):
    name = input("Please enter your name:")
    return f'Welcome to {com},{name}'

In [50]:
greeting()

Please enter your name:Jayesh

'Welcome to Facebook,Jayesh'

In [51]:
greeting(com = "Twitter")

Please enter your name:Jayesh

'Welcome to Twitter,Jayesh'

In [52]:
def add(x,y):
    print('Addition of these values is:', x + y)

In [53]:
add(10,20)

Addition of these values is: 30

In [55]:
print(add(10,20))  #it creates none object unnecessarily

Addition of these values is: 30
None

In [56]:
def add(x,y):   #return function works like print function without ()
    return 'Addition of these values is:', x + y

In [57]:
print(add(20,500))   #It does not create none object unnecessarily

('Addition of these values is:', 520)

In [2]:
def add(x,y):   #documentation of a function in the back end.
    """
    This function will allow two values and adds them as Output.
    """
    return 'Addition of these values is:', x + y

In [4]:
add(333,8658)

('Addition of these values is:', 8991)

In [60]:
add.__doc__  #syntax for documentation of a function

'\n    This function will allow two values and adds them as Output.\n    '

In [61]:
def g(x=0,y):
    return x+y

SyntaxError: non-default argument follows default argument (714572962.py, line 1)

To fix this , we have to list the non-default arguments first.These are also called required arguments.Since they are required.

In [63]:
def g(y,x=0):
    return x+y

To call this function, we must pass in a values for  the required argument.Y The keyword argument is optional since by default it will be set as 0.

In [64]:
g(10)

10

In [65]:
g(5,3)

8

In [66]:
#We can also swap the position of argument
g(x=3,y=5) #x=3 and y =5 – does the samething as (5,3)

8

## Parameters passing and arguments

- Now let’s create a function with multiple parameters for example, there’s going to come times like you wanted to build a shoping cart or grocery list program where you don’t exactly know how many things the user is going to have, so you need a way to tell python that I don’t know exactly how many things or element are going to have but I need you to do a certain thing to them.
- So to do that let’s create a function named grocerylist and if you wanted to add many things and unknown amount of things, what you need to do is put an astericks before the name of argument.

In [67]:
def grocerylist(*food):
    return food

In [68]:
grocerylist("apple","bananas","vegies","and"," other"," stuffs")

('apple', 'bananas', 'vegies', 'and', ' other', ' stuffs')

In [99]:
def welcome(*args):  #we can supply as many as argument we want
    for i in args:
        print(f'Welcome to Python Programming, {i}')

In [100]:
welcome('Jayesh', 'Sanket','Rohit')

Welcome to Python Programming, Jayesh
Welcome to Python Programming, Sanket
Welcome to Python Programming, Rohit

- As you can see, it not just print out the element but it printed out it as an element in tuple. So now using this astericks we can add many elements to one parameter. 
- So far we have seen, how to use asterisks with parameters in functions to convert it as tuple, now let’s see how to use askterisks with parameter in functions to convert it as dictionary but instead of using one askterisks we actually use two.
- Let’s  say we want to create a function named ‘cart’   for a shopping cart  and to convert it as dictionary we will use askterisks symbol twice.

In [69]:
def cart(**items):
    return items

- So now let’s call the function and put  some items in there, and any items we put in cart it gets converted to a dictionary and dictionary don’t have single item in it but it has a Key-Value pair.
- So that’s what we need for each parameter,  a key or a item and it’s value.Instead of putting apples , we have to put apples = 4 because that’s how many apples you want.

- Inside your function , whatever comes before the equals sign – is treated as the key of the dictionary and whatever comes after the equals sign is treated as key of the dictionary.
- So if we pass apple = 4, then python will treat the ‘apple’  as  the ‘Key’ and ‘4’ as it’s ‘Value’.

In [70]:
cart(apple=4,oats=3,rice=2,grapes=6)

{'apple': 4, 'oats': 3, 'rice': 2, 'grapes': 6}

In [71]:
import math

In [72]:
def mno(a):  #giving a particular input inside a function is a parameter a= parameter, a = argument 
    print(a*5)
    
mno(2)
mno(1.5)
mno('Jay')
mno('999')
mno(math.pi)  #user defined function (pre-defined python/math function)
print(math.pi)

10
7.5
JayJayJayJayJay
999999999999999
15.707963267948966
3.141592653589793

In [73]:
def mno(a):
    a = a**2
    return a

x = mno(5)
print(x)

25

In [74]:
import math as m
def area(radius):
    a = m.pi*radius*radius
    return a

r = float(input("Enter radius of the circle:"))
ar = area(r)
print(ar)

Enter radius of the circle:52
8494.8665353068

In [75]:
def area(radius):
    return (m.pi*radius*radius)
print("Area of the circle =",round(area(float(input('Enter the radius of the circle'))),2))

Enter the radius of the circle25
Area of the circle = 1963.5

In [76]:
#program to find the average of 3 months
def avg(n1,n2,n3):
    res=n1+n2+n3
    print(res/3)
avg(10,20,30)
avg(789,256.25,658.36)

20.0
567.87

In [77]:
def avg(n1=2,n2=1,n3=0):
    sum = n1+n2+n3
    print(sum/3)

avg()
avg(1)
avg(3,5)
avg(n1=5,n3=7)
avg(n3=7,n1=5)
avg(n3=int(input("Enter the value of n3:")),n1= int(input("Enter the value of n1:")))

1.0
0.6666666666666666
2.6666666666666665
4.333333333333333
4.333333333333333
Enter the value of n3:52
Enter the value of n1:25
26.0

In [78]:
def profile(firstname,lastname,*language,**level):
    name =firstname.title() + " " + lastname.title()
    return f"Name-: {name}\nSKills-: {language}\nLevel-: {level}"

In [1]:
def profile(firstname,lastname,*languages,**level):
    name = firstname.title()+" "+lastname.title()
    return f"Name :-{name}\nSkills :- {languages}\nLevel :- {level}"

In [2]:
x = profile("Aryan","Khanna","Python","R","SQL",Python = "Intermidiate",R = "Beginer", SQL = "Intermidiate")
print(x)

Name :-Aryan Khanna
Skills :- ('Python', 'R', 'SQL')
Level :- {'Python': 'Intermidiate', 'R': 'Beginer', 'SQL': 'Intermidiate'}

In [80]:
var1 = ('Python', 'R', 'SQL')
var2 = {'Python': 'Intermidiate', 'R': 'Beginer', 'SQL': 'Intermidiate'}
x = profile("Aryan","Khanna",*var1,**var2)
print(x)

Name-: Aryan Khanna
SKills-: ('Python', 'R', 'SQL')
Level-: {'Python': 'Intermidiate', 'R': 'Beginer', 'SQL': 'Intermidiate'}

# Recursive function

Recursion is a method of programming or coding a problem, in which a function calls itself one or more times in its body.
for ex. Fibonacci Series

In [81]:
def countdown(n):
    if n<=0:
        print('Blast off!!!')
    else:
        print(n)
        countdown(n-1)

countdown(5)

5
4
3
2
1
Blast off!!!

In [82]:
import random
secretnum = random.randint(0,10)

In [83]:
def guessgame(n):
    for i in range(n):   #repeat a operation 3 times
        guess = eval(input('Please guess a number between 0 to 10:'))
        if secretnum == guess:
            print('\nYay ! you are a Genius')
        elif secretnum < guess:
            print('\nGuess Lesser')
        elif secretnum > guess:
            print('\nGuess Higher')

In [84]:
guessgame(5)

Please guess a number between 0 to 10:5

Guess Lesser
Please guess a number between 0 to 10:3

Yay ! you are a Genius
Please guess a number between 0 to 10:3

Yay ! you are a Genius
Please guess a number between 0 to 10:3

Yay ! you are a Genius
Please guess a number between 0 to 10:3

Yay ! you are a Genius

In [85]:
def oddnums(n,m):   # odd numbers between range
    a = []
    for i in range(n,m):
        if i % 2 ==1:
            a.append(i)
    return a

In [86]:
print(oddnums(10,100), end = " ")    #odd numbers between 10 and 100

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [87]:
def squares(a):
    print('The value supplied as input is', a)
    b = a**2
    return b
#     print(b)

a = eval(input())
print('The square of the given value is', squares(a))

5
The value supplied as input is 5
The square of the given value is 25

In [88]:
squares(10)

The value supplied as input is 10

100

In [89]:
def range_values(a):
    if a < 100:
        print('Value is less than 100')
    elif a >=100 and a <250:
        print('value is less than 250 but greater than 100')
    else:
        print("Greater than 250")

In [90]:
for i in [90, 150, 3500]:
    range_values(i)

Value is less than 100
value is less than 250 but greater than 100
Greater than 250

In [91]:
def sum_of_squares(a,b):
    c = squares(a)+squares(b)
    print(c)

In [92]:
sum_of_squares(5,5)

The value supplied as input is 5
The value supplied as input is 5
50

In [93]:
sum_of_squares(5,6)

The value supplied as input is 5
The value supplied as input is 6
61

In [94]:
def temp():
    temp = 0 
    while temp!=-1000:
        temp = eval(input('Enter a temperature (-1000 to quit): ')) 
        print('In Fahrenheit that is', 9/5*temp+32, '\n')
    print('The loop is over now')

In [95]:
temp()

Enter a temperature (-1000 to quit): 25
In Fahrenheit that is 77.0

Enter a temperature (-1000 to quit): -1000
In Fahrenheit that is -1768.0

The loop is over now

In [101]:
def sign(x):
    if x > 0:
        print('Positive')
    elif x < 0:
        print('Negative')
    else:
        print('Zero')
        
for i in [-1, 0, 2]:
    sign(i)

Negative
Zero
Positive

In [1]:
#fibonacci series by recurssion
def fibo(n):
    if n==1:
        return 1
    elif n==2:
        return 1
    elif n>2:
        return fibo(n-1) + fibo(n-2)

for i in range(1,11):
    print(i,":- ", fibo(i))

1 :-  1
2 :-  1
3 :-  2
4 :-  3
5 :-  5
6 :-  8
7 :-  13
8 :-  21
9 :-  34
10 :-  55

In [3]:
for i in range(1,31):
    print(i,":- ", fibo(i))

1 :-  1
2 :-  1
3 :-  2
4 :-  3
5 :-  5
6 :-  8
7 :-  13
8 :-  21
9 :-  34
10 :-  55
11 :-  89
12 :-  144
13 :-  233
14 :-  377
15 :-  610
16 :-  987
17 :-  1597
18 :-  2584
19 :-  4181
20 :-  6765
21 :-  10946
22 :-  17711
23 :-  28657
24 :-  46368
25 :-  75025
26 :-  121393
27 :-  196418
28 :-  317811
29 :-  514229
30 :-  832040

In [5]:
# Function for nth Fibonacci number 

def Fibonacci(n): 
    if n<0: 
        print("Incorrect input") 
    elif n==1: 
        return 0
    elif n==2: 
        return 1
    else: 
        return Fibonacci(n-1)+Fibonacci(n-2)

In [6]:
n = range(2,7)
for i in n:
    print(Fibonacci(i))

1
1
2
3
5

###### There are several ways to use memorization in python.
- Implementing memorization explicitly.
- Using built-in python tool

To begin we should create a dictionary  ‘cache’  which will store the recent function calls,then write the Fibonacci function to make use of cached value.We do not want to simply return the value, instead we will compute the value , cache it and then return it.

In [7]:
cache={}
def fibo(n):
    if n in cache:
        return cache[n]
    if n ==1:
        value =1
    elif n==2:
        value =1
    elif n>2:
        value = fibo(n-1) + fibo(n-2)
    
    cache[n] = value
    return value

for i in range(1,101):
    print(i,":- ",fibo(i))

1 :-  1
2 :-  1
3 :-  2
4 :-  3
5 :-  5
6 :-  8
7 :-  13
8 :-  21
9 :-  34
10 :-  55
11 :-  89
12 :-  144
13 :-  233
14 :-  377
15 :-  610
16 :-  987
17 :-  1597
18 :-  2584
19 :-  4181
20 :-  6765
21 :-  10946
22 :-  17711
23 :-  28657
24 :-  46368
25 :-  75025
26 :-  121393
27 :-  196418
28 :-  317811
29 :-  514229
30 :-  832040
31 :-  1346269
32 :-  2178309
33 :-  3524578
34 :-  5702887
35 :-  9227465
36 :-  14930352
37 :-  24157817
38 :-  39088169
39 :-  63245986
40 :-  102334155
41 :-  165580141
42 :-  267914296
43 :-  433494437
44 :-  701408733
45 :-  1134903170
46 :-  1836311903
47 :-  2971215073
48 :-  4807526976
49 :-  7778742049
50 :-  12586269025
51 :-  20365011074
52 :-  32951280099
53 :-  53316291173
54 :-  86267571272
55 :-  139583862445
56 :-  225851433717
57 :-  365435296162
58 :-  591286729879
59 :-  956722026041
60 :-  1548008755920
61 :-  2504730781961
62 :-  4052739537881
63 :-  6557470319842
64 :-  10610209857723
65 :-  17167680177565
66 :-  27777890035288
67 :-  44945570212853
68 :-  72723460248141
69 :-  117669030460994
70 :-  190392490709135
71 :-  308061521170129
72 :-  498454011879264
73 :-  806515533049393
74 :-  1304969544928657
75 :-  2111485077978050
76 :-  3416454622906707
77 :-  5527939700884757
78 :-  8944394323791464
79 :-  14472334024676221
80 :-  23416728348467685
81 :-  37889062373143906
82 :-  61305790721611591
83 :-  99194853094755497
84 :-  160500643816367088
85 :-  259695496911122585
86 :-  420196140727489673
87 :-  679891637638612258
88 :-  1100087778366101931
89 :-  1779979416004714189
90 :-  2880067194370816120
91 :-  4660046610375530309
92 :-  7540113804746346429
93 :-  12200160415121876738
94 :-  19740274219868223167
95 :-  31940434634990099905
96 :-  51680708854858323072
97 :-  83621143489848422977
98 :-  135301852344706746049
99 :-  218922995834555169026
100 :-  354224848179261915075

So now you can use the code and checkout yourself, it works perfectly fine. Now that you have seen the explicit use of memoization, but the simpler approach would be using the built-in lru_cache module, stands for Least Recently Used Cache.

To use this,import the module and then  type @lru_cache(maxsize=1000) before our function. In parentheses, enter the number of value to cache by default python will cache 128 most recent values. So if you do not specify the maxsize you will still see the benefits.

In [8]:
from functools import lru_cache
@lru_cache(maxsize =1000)

def fibo(n):
    if n==1:
        return 1
    elif n==2:
        return 2
    elif n>2:
        return fibo(n-1) + fibo(n-2)
    
for i in range(1,100):
    print(i,":- ", fibo(i))

1 :-  1
2 :-  2
3 :-  3
4 :-  5
5 :-  8
6 :-  13
7 :-  21
8 :-  34
9 :-  55
10 :-  89
11 :-  144
12 :-  233
13 :-  377
14 :-  610
15 :-  987
16 :-  1597
17 :-  2584
18 :-  4181
19 :-  6765
20 :-  10946
21 :-  17711
22 :-  28657
23 :-  46368
24 :-  75025
25 :-  121393
26 :-  196418
27 :-  317811
28 :-  514229
29 :-  832040
30 :-  1346269
31 :-  2178309
32 :-  3524578
33 :-  5702887
34 :-  9227465
35 :-  14930352
36 :-  24157817
37 :-  39088169
38 :-  63245986
39 :-  102334155
40 :-  165580141
41 :-  267914296
42 :-  433494437
43 :-  701408733
44 :-  1134903170
45 :-  1836311903
46 :-  2971215073
47 :-  4807526976
48 :-  7778742049
49 :-  12586269025
50 :-  20365011074
51 :-  32951280099
52 :-  53316291173
53 :-  86267571272
54 :-  139583862445
55 :-  225851433717
56 :-  365435296162
57 :-  591286729879
58 :-  956722026041
59 :-  1548008755920
60 :-  2504730781961
61 :-  4052739537881
62 :-  6557470319842
63 :-  10610209857723
64 :-  17167680177565
65 :-  27777890035288
66 :-  44945570212853
67 :-  72723460248141
68 :-  117669030460994
69 :-  190392490709135
70 :-  308061521170129
71 :-  498454011879264
72 :-  806515533049393
73 :-  1304969544928657
74 :-  2111485077978050
75 :-  3416454622906707
76 :-  5527939700884757
77 :-  8944394323791464
78 :-  14472334024676221
79 :-  23416728348467685
80 :-  37889062373143906
81 :-  61305790721611591
82 :-  99194853094755497
83 :-  160500643816367088
84 :-  259695496911122585
85 :-  420196140727489673
86 :-  679891637638612258
87 :-  1100087778366101931
88 :-  1779979416004714189
89 :-  2880067194370816120
90 :-  4660046610375530309
91 :-  7540113804746346429
92 :-  12200160415121876738
93 :-  19740274219868223167
94 :-  31940434634990099905
95 :-  51680708854858323072
96 :-  83621143489848422977
97 :-  135301852344706746049
98 :-  218922995834555169026
99 :-  354224848179261915075

In [9]:
#Here’s, the example of Fibonacci series without recursion.

def fibo(n):
    a,b = 0,1
    for i in range(n):
        print(a)
        c=a+b
        a=b
        b=c
        
    return b

In [10]:
fibo(100)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

573147844013817084101