There are functions that have no names at all. There functions are called Anonymous functions or a lambda expressions.

Suppose you want to write a function that will evaluate the value 3x+1, the standard approach would be to define a function. 
Let’s call it ‘f’ with a single input ‘x’ next it would return the value 3x+1

In [1]:
def f(x):
    return 3*x+1

In [2]:
f(2)

7

So it worked nicely, let us now do this by using lambda expression.

- To create a lambda expression, 
- Type the keyword lambda followed by your input.
- Next, type a colon. 
- Finally, enter an expression that will be the return value.

In [3]:
lambda x:3*x+1

This anonymous function will take the input ‘x’ and return the and return the 3x+1, just like the earlies function ‘f’.However, there is a problem. We cannot use this function because it does not have a name. It is, after all a anonymous function.
Lambda is not the name of the function, it is the keyword that says what follows is a anonymous function. 

So how do you use it? One ways is to give it a name. Let’s us call this call this lambda expression ‘g’.

In [4]:
g = lambda x:3*x+1

In [5]:
g(2)

7

In [6]:
name = ["Mithilesh Yadav","Deepak Kumar Gupta","Sneha Singh","Kishor Lashman Ramiste","Rohit Mohite"]

In [7]:
name

['Mithilesh Yadav',
 'Deepak Kumar Gupta',
 'Sneha Singh',
 'Kishor Lashman Ramiste',
 'Rohit Mohite']

In [8]:
name.sort(key=lambda name:name.split(" ")[-1].lower())

In [9]:
name

['Deepak Kumar Gupta',
 'Rohit Mohite',
 'Kishor Lashman Ramiste',
 'Sneha Singh',
 'Mithilesh Yadav']

In [10]:
adder = lambda x, y: x + y
print (adder (1, 2))

3

In [11]:
x = lambda x,y : x + y
print(x(5,10))

15

In [12]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [13]:
(lambda x,y,z: x*y-z)(100,150,250)

14750

In [14]:
mul = lambda x, y: x * y
mul(10,35)

350

In [15]:
(lambda x: x + 1)(2)

3

In [16]:
def myfunc(n):
    return lambda a : a * n

In [17]:
def myfunc(n):
      return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(22))

44

In [18]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

## Map Function.

Software engineers spend a lot of  time working with list, you work for stock market , you are analyzing lists of stock prices. Writing software for a drone delivery service , you are processing lists of orders. You work at friendface, you are  profiling lists of users with your mountain of personal data. 

A lot of code is spent analyzing, filtering and combing the items in a list. Python gives you functions to streamline these tasks, the map, filter and reduce function. We will now iterate over this list of functions one by one.

Let us begin with the Map function, suppose we a have a function that computes the area of the circle with radius ‘r’ .

In [1]:
def area(r):
    """ area of the circle with radius r"""
    return 3.14 * r**2

In [2]:
#Method 1: Direct method
areas =[]
radii = [2,5,7.1,0.3,10]
for i in radii:
    areas.append(area(i))
    
areas

[12.56, 78.5, 158.2874, 0.2826, 314.0]

Next, you could  loop over the list of  radii. For each radius you would compute the area of the circle, then append it to the area list. This is block of code is very clear and erect. 

But with the map function, we can accomplish this with a single line of code. The map function takes two arguments. The first is function, and the second is your list,tuple or other iterable object.

In [3]:
#Method 2: Use ‘map’ function.
map(area,radii)

Here , map will apply the area function to each element in the list, but look! The output of the map function is not a list. It is a map object, which is actually an iterator over the results.


This is highly favorable, especially when working with large collections of data. We can, however, turn this into a list by passing the map to the list constructor.

In [6]:
list(map(area,radii))

[12.56, 78.5, 158.2874, 0.2826, 314.0]

Suppose you work for a weather and all your temperature data is stored in Celsius, then, unexpectedly, someone asks for a weather map in Fahrenheit.

Here is a list of temperature data for some major cities in India.

In [24]:
temps  =  [("Kasmir",1),("Simla",5),("Mumbai",16),
           ("Hydrabad",14),("Chennai",14), ("Banglure",13)]

Each  tuple contains the name of the city in English and the Temperature in degrees Celsius. Our  goal is to Convert this to a list, where the degrees are in Fahrenheit.

###### Here is the Formula for converting from

F =9/5 x  C + 32

So we will write a converter function using a lambda expression. This function will accept a tuple as the input, and will return a tuple with the same name, but the temperature in Fahrenheit.

In [25]:
ctof = lambda data: (data[0], (9/5) * data[1] + 32)

You can now create a list of data in Fahrenheit, by mapping the converter function to our list of temperature data.

In [26]:
list(map(ctof,temps))

[('Kasmir', 33.8),
 ('Simla', 41.0),
 ('Mumbai', 60.8),
 ('Hydrabad', 57.2),
 ('Chennai', 57.2),
 ('Banglure', 55.400000000000006)]

In [27]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map (lambda x: x*x, sequences) 
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [28]:
# Python code to illustrate  
# reduce() with lambda() 
# to get sum of a list 
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
sum = reduce((lambda x, y: x + y), li) 
print (sum)

193

## Filter function

The Filter function in used to select certain pieces of data from a list, tuple or other collection of data. This name was chosen because it filters out the data you do not need.


Suppose you were analyzing some data and you would like to select all the value that are above the average. So first we have to import the statistic module. Here’s  the list of data

In [29]:
import statistics
data = [1.3,2.7,0.8,4.1,4.3,0.2]

In [30]:
#Then , lets compute the average of the data,

avg = statistics.mean(data)
avg

2.2333333333333334

We will now use the filter function to select the data greater then the average, just like with map the first argument is a function. We will create an anonymous function that tests the input to see if it is above average. Next, passing in the list of data. The filter function will only return the data for which the function is true

In [31]:
filter(lambda x:x>avg, data)

In [32]:
list(filter(lambda x:x>avg, data))

[2.7, 4.1, 4.3]

When you are working with data from outside sources, you will often encounter missing data or empty values. For example, here is a partial list of the cities in India.

In [33]:
cities = ["","Delhi","","Pune","","Mumbai","","Benglure",""]

Notice, there are numerous string that are empty. To remove these, we’ll use the filter function. But instead of passing in a function we will simply pass none as first argument. The second argument is the list of data as before.

In [34]:
list(filter(None,cities))

['Delhi', 'Pune', 'Mumbai', 'Benglure']

In [35]:
# Lambda with a Filter

sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, sequences) 
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [36]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

## Zip function

In [1]:
x = [1,2,3,4]
y = ['a','b','c','d']

In [2]:
for i,j in zip(x,y):
    print(i,j)

1 a
2 b
3 c
4 d

In [3]:
x = [1,2,3]
y = ['a','b','c','d']

In [4]:
for i,j in zip(x,y):
    print(i,j)

1 a
2 b
3 c

## Reduce Function

In [5]:
from functools import reduce

In [6]:
x = [1,2,3,4]
reduce(lambda i,j:i+j,x)

10

In [7]:
x = ["Pune","Nagpur","Goa","Mumbai"]
reduce(lambda i,j:i+j,x)

'PuneNagpurGoaMumbai'