## Attributes
> Variables defined inside a class are known as attributes.

## Methods
> Functions defined innside a class are called as methods.

## Object
> when you store an entire class in a variable then that variable is said to be an object.

## Self
> Self is nothing but your object itself.It is a defualt variable which contains memory adrress of an object.

## Class
> Class is an easy way where we can group similar variables and functions together.i.e.it is the blueprint of an object.You can create n number of blueprints with a same class.

class classname():
    variable1
    variable2
    variable3
    
    #Actions/Methods
    functions using self keyword
    
#object
object1
object2
object3

In [1]:
class Human():
    eyes = 'Blue'
    Hair = 'Black'
    Gender = 'Male'
    
    #Humans does some action
    def walk(self):
        return "I am walking"
    def speak(self):
        return "I am speaking"
    
person1 = Human() # If you want to use above class you should create an object over here

In [2]:
person1.eyes

'Blue'

In [3]:
person1.Hair

'Black'

In [4]:
person1.Gender

'Male'

In [5]:
person1.walk()

'I am walking'

In [6]:
person1.speak()

'I am speaking'

In [1]:
class myclass():
    def createname(self,name):
        self.name=name
    def displayname(self):
        return self.name
    def sayhello(self):
        return f"Hello {self.name}"
    
cob1=myclass()
cob2=myclass()

In [2]:
cob1.createname("Jayesh")
cob2.createname("Jay")

In [3]:
cob1.displayname()

'Jayesh'

In [4]:
cob2.displayname()

'Jay'

In [11]:
myclass.displayname(cob1)

'Jayesh'

In [12]:
myclass.displayname(cob2)

'Jay'

In [13]:
name = "Jayesh"
age = 25

class example():
    name="Jay"
    age = 16
    
    def intro(self):
        return f"My name is {name}, my age is {age}"
obj = example()

In [14]:
obj.intro()

'My name is Jayesh, my age is 25'

In [15]:
obj.name

'Jay'

In [16]:
obj.age

16

In [17]:
# If you want to print Jay 16 you have to make change
class example():
    name="Jay"  #self.name=obj.name
    age=16  #self.age=obj.age
    
    def intro(self):
        return f"My name is {self.name}, my age is {self.age}"
    
obj= example()

In [18]:
obj.name

'Jay'

In [19]:
obj.age

16

In [20]:
obj.intro()

'My name is Jay, my age is 16'

## Class Variable

> Class variable is defined inside a class and global to all methods of that class and will be same for every object created with that class.

## Instance Variable

> Instance variable is defined inside the method of the class which is local to method itself of the class and will be unique for every object created with that class.

## Constructor

> A method used to initialise instance variable.

In [21]:
class man():
    gender = 'male'  #gender = class variable
    
    #__init__ = constructor or initialiser
    def __init__(self,name):
        self.name = name  #instance variable
        
obj1 = man('Jay')
obj2 = man('Kumar')

In [22]:
obj1.name

'Jay'

In [23]:
obj2.name

'Kumar'

In [24]:
obj1.gender

'male'

In [25]:
obj2.gender

'male'

In [26]:
class man():
    gender = 'male'  #gender = class variable
    
    #__init__ = constructor or initialiser
    def __init__(self,name,age,place,salary):
        self.name = name  #instance variable
        self.age = age
        self.place = place
        self.salary = salary
    def intro(self):
        return f"I am {self.name}.I am {self.age} years old.I live in {self.place}.My salary is {self.salary}" 
    
myself = man("Jayesh",25,"Mumbai","2K")

In [27]:
myself.intro()

'I am Jayesh.I am 25 years old.I live in Mumbai.My salary is 2K'

In [28]:
myself.name

'Jayesh'

In [29]:
myself.salary

'2K'

In [30]:
class character():
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def minus(self):
        self.age= self.age-5
        
obj1 = character("Ninad",20)
obj2 = character("Pratik",20)

In [31]:
obj1.name

'Ninad'

In [32]:
obj1.age

20

In [33]:
obj2.name

'Pratik'

In [34]:
obj2.age

20

In [35]:
obj1.minus()
obj1.age

15

In [36]:
obj2.age

20

## Inheritance

In [37]:
class mom():
    eyes='brown'
    hairs = 'black'
    
    def intro(self):
        return "I am MOM Class"
    
class dad():
    eyes="blue"
    nose="long and straight"
    hairs = "brown"
    
    def intro(self):
        return "I am DAD class"
    
class child(dad):
    def intro(self):
        return "I am child class"
    
cob = child()

In [38]:
cob.eyes

'blue'

In [39]:
cob.nose

'long and straight'

In [40]:
cob.hairs

'brown'

In [41]:
cob.intro()

'I am child class'

In [42]:
class mom():
    eyes='brown'
    hairs = 'black'
    
    def intro(self):
        return "I am MOM Class"
    
class dad():
    eyes="blue"
    nose="long and straight"
    hairs = "brown"
    
    def intro(self):
        return "I am DAD class"
    
class child(dad):
    pass
    
cob = child()

In [43]:
cob.intro()

'I am DAD class'

### Multiple Inheritance

In [44]:
class mom():
    eyes='brown'
    hairs = 'black'
    voice = 'sweet'
    def intro(self):
        return "I am MOM Class"
    
class dad():
    eyes="blue"
    nose="long and straight"
    hairs = "brown"
    voice = 'rough'
    
    def intro(self):
        return "I am DAD class"
    
class child(dad):
    nose = 'parrot nose'  #attribute overriding
    def intro(self):  #method overriding
        return "I am child class"
    
cob = child()

In [45]:
cob.nose

'parrot nose'

In [46]:
cob.eyes  # It will check Dad class first

'blue'

In [47]:
cob.hairs

'brown'

In [48]:
class mom():
    eyes='brown'
    hairs = 'black'
    voice = 'sweet'
    def intro(self):
        return "I am MOM Class"
    
class dad():
    eyes="blue"
    nose="long and straight"
    hairs = "brown"
    voice = 'rough'
    
    def intro(self):
        return "I am DAD class"
    
class child(dad):
    nose = 'parrot nose'  #attribute overriding
    voice = "strong"
    def intro(self):  #method overriding
        return "I am child class"
    
cob = child()

In [49]:
cob.voice

'strong'

## MINI PROJECT

### Data Abstraction

In [50]:
class abst():
    x = 10 #pulic variable=accessible
    _y = 20 #protected variable-Theoretical=practically accessible
    __z = 30 #private variable = cannot accessible
    
ob1 = abst()

In [51]:
ob1.x

10

In [52]:
ob1._y

20

In [53]:
ob1.__z

AttributeError: 'abst' object has no attribute '__z'

In [54]:
class character():
    def __init__(self,name):
        self.name = name
        self.__score = 0
        self.__life = 3
        
    def displayscore(self):
        return self.__score
    
    def displaylife(self):
        return self.__life
    
    def punch(self):
        self.__score = self.__score + 5
        
    def kick(self):
        self.__score = self.__score+10
        
    def stabbed(self):
        self.__life = self.__life - 1
        
    def intro(self):
        print(f"Player name :- {self.name}")
        print(f"Score = {self.displayscore()}")
        print(f"Life :- {self.displaylife()}")
              
mario = character('Mario')
mini = character('Mini')

mario.intro()

Player name :- Mario
Score = 0
Life :- 3

In [55]:
mario.punch()

In [56]:
mario.displayscore()

5

In [57]:
mario.stabbed()

In [58]:
mario.displaylife()

2

In [59]:
mario.kick()

In [60]:
mario.displayscore()

15

In [61]:
mario.stabbed()
mario.displaylife()

1

In [62]:
x = mario.displaylife()

if x==0:
    print("Game Over...")
else:
    print("Welcome to the Level 2")

Welcome to the Level 2

In [63]:
mario.intro()

Player name :- Mario
Score = 15
Life :- 1

In [64]:
mini.intro()

Player name :- Mini
Score = 0
Life :- 3

## Encapsulation

Binding similar type of data together

## Built in attributes

> __dict__ : Dictionary containing the class namespace.
    
> __doc__ : Class documentation string or none,if undefined.
    
> __name__ : Class name.
    
> __module__ : Module name in which class is defined. This attribute is "__main__" in interactive mode.
    
> __bases__ : A possibly empty tuple containing the base classes in order of their occurence in the base class list.

## OOPS PROJECTS

### Employee System

In [18]:
class Employee():
    """This is Parent/super/base class"""
    empcount = 0
    incamt = 1.10
    def __init__(self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary 
        self.email = first.lower()+"."+last.lower()+"@itvedant.com"
        
        Employee.empcount+=1
    
    def fullname(self):
        return f"{self.first.title()} {self.last.title()}"
    
    def increment(self):
        self.salary = self.salary * self.incamt
        
class Developer(Employee):
    def __init__(self,first,last,salary,prolang):
        super().__init__(first,last,salary)
        self.prolang = prolang
        
class Manager(Employee):
    def __init__(self,first,last,salary,employee=None):
        super().__init__(first,last,salary)
        
        if (employee is None):
            self.employee = []
        else:
            self.employee = employee 
            
    def addemp(self,emp):
        if(emp not in self.employee):
            self.employee.append(emp)
            
    def removeemp(self,emp):
        if(emp in self.employee):
            self.employee.remove(emp)
            
    def printemp(self):
        for emp in self.employee:
            print(f"---> {emp.fullname()}")
            

        
emp1 = Employee("Raj","Yadav",10000)
emp2 = Employee("Deepak","Gupta",20000)
emp3 = Employee("Kishor","Yadav",30000)
mgr1 = Manager("Shubham","Yadav",400000,[emp1,emp2,emp3])


dev1 = Developer("pratik","singh",110000,"Python")
dev2 = Developer("rahul","nishad",210000,"Cython")
dev3 = Developer("megesh","thevar",310000,"Django")
mgr2 = Manager("Ganesh","Kumar",450000,[dev1,dev2,dev3])

dev4 = Developer("suraj","singh",110000,"Java")

In [67]:
emp1.fullname()

'Raj Yadav'

In [68]:
emp1.salary

10000

In [69]:
emp1.email

'raj.yadav@itvedant.com'

In [2]:
dev1.fullname()

'Pratik Singh'

In [3]:
dev3.fullname()

'Megesh Thevar'

In [5]:
dev2.email

'rahul.nishad@itvedant.com'

In [6]:
dev1.salary

110000

In [7]:
dev2.increment()

In [8]:
dev2.salary

231000.00000000003

In [9]:
Employee.empcount

6

In [13]:
mgr2.printemp()

---> Pratik Singh
---> Rahul Nishad
---> Megesh Thevar

In [15]:
mgr1.printemp()

---> Raj Yadav
---> Deepak Gupta
---> Kishor Yadav

In [16]:
mgr1.removeemp(emp1)

In [17]:
mgr1.printemp()

---> Deepak Gupta
---> Kishor Yadav

In [20]:
mgr2.addemp(dev4)

In [22]:
mgr2.printemp()

---> Pratik Singh
---> Rahul Nishad
---> Megesh Thevar
---> Suraj Singh

### Banking System

In [1]:
class user():
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
        
    def showdetails(self):
        print("Personal details :- ")
        print(f"Name :- {self.name.title()}")
        print(f"Age :- {self.age}")
        print(f"Gender :- {self.gender.title()}")
        
class bank(user):
    __balance = 0
    __usercount = 0
    
    def __init__(self,name,age,gender):
        super().__init__(name,age,gender)
        bank.__usercount +=1
        self.__accountno = f"bnkaccno000{bank.__usercount}"
        
    def deposit(self,amount):
        self.amount = amount
        self.__balance += self.amount 
        print(f"Account Balance has been updated :- Rs.{self.__balance}")
        
    def withdraw(self,amount):
        self.amount = amount
        
        if (self.amount > self.__balance):
            print(f"Insufficient amount, Balance available :- Rs.{self.__balance}")
        elif(100<= self.amount <= self.__balance):
            print("Thank you for visiting")
            self.__balance -= self.amount
            print("Current balance is Rs. {self.__balance}")
        else:
            print("You cannot withdraw less than 100 Rs.")
            
    def viewbalance(self):
        self.showdetails()
        print(f"Account No.:- {self.__accountno}")
        print(f"Current balance is :- Rs. {self.__balance}")
        
    def transfer(self,username,amount):
        self.amount = amount
        if (self.amount > self.__balance):
            print(f"Insufficient amount, Balance available :- Rs. {self.__balance}")
        elif (1<=self.amount<=self.__balance):
            username.__balance += self.amount
            self.__balance -= self.amount
            print("Amount transferred Successfully")
            print(f"Current balance is :- Rs.{self.__balance}")
        else:
            print("You cannot transfer less than Rs.1")

In [2]:
jay = bank("Jayesh Patil",10,"Male")
deepak = bank("Deepak Gupta",11,"Male")

In [3]:
jay.viewbalance()

Personal details :-
Name :- Jayesh Patil
Age :- 10
Gender :- Male
Account No.:- bnkaccno0001
Current balance is :- Rs. 0

In [4]:
deepak.viewbalance()

Personal details :-
Name :- Deepak Gupta
Age :- 11
Gender :- Male
Account No.:- bnkaccno0002
Current balance is :- Rs. 0

In [5]:
deepak.deposit(10000)

Account Balance has been updated :- Rs.10000

In [6]:
deepak.viewbalance()

Personal details :-
Name :- Deepak Gupta
Age :- 11
Gender :- Male
Account No.:- bnkaccno0002
Current balance is :- Rs. 10000

In [7]:
deepak.transfer(jay,5000)

Amount transferred Successfully
Current balance is :- Rs.5000

In [8]:
jay.viewbalance()

Personal details :-
Name :- Jayesh Patil
Age :- 10
Gender :- Male
Account No.:- bnkaccno0001
Current balance is :- Rs. 5000

In [9]:
deepak.viewbalance()

Personal details :-
Name :- Deepak Gupta
Age :- 11
Gender :- Male
Account No.:- bnkaccno0002
Current balance is :- Rs. 5000

In [10]:
jay.withdraw(2000)

Thank you for visiting
Current balance is Rs. {self.__balance}

In [11]:
jay.viewbalance()

Personal details :-
Name :- Jayesh Patil
Age :- 10
Gender :- Male
Account No.:- bnkaccno0001
Current balance is :- Rs. 3000

In [12]:
jay.withdraw(6000)

Insufficient amount, Balance available :- Rs.3000

In [13]:
jay.withdraw(80)

You cannot withdraw less than 100 Rs.