## Regular Expression

> It is an sequence of character that specifies the search of pattern.

In [1]:
mesg = "so the mesg is, 022-456-7391 is my home phone number, call me whenever you get time and if it comes busy then try 022-795-7843"

I just want to check whether this mesg or this particular string contain a number or not and I only want 022-456-7391 this particular number part from a string. That means if I passed through a function should give me 022-456-7391 and 022-795-7843. Based on this number we need to create a particular search pattern.

- phone number size is 12
- area code/pin code : 3 digit number
- first dash
- 3 digit number
- second dash
- last 4 digit number

In [2]:
"123".isdecimal()  #isdecimal() function let us know about there is a number is present in a particular string or not. gives us the output in Boolean i.e. True or False.

True

In [3]:
"abc".isdecimal()

False

In [4]:
"abc123".isdecimal()

False

In [5]:
"abc 123".isdecimal()

False

In [6]:
no = "022-456-7391"

In [7]:
no.isdecimal()

False

So I want to create a function which creates a search pattern for this number. I want to tell whether a particular number is phone number or not by using this particular search pattern.

In [8]:
def isphoneno(text):
    if(len(text)!=12):  #if the length of the string is not equal to 12 then return Falsei.iit should not be a number
        return False
    
    for i in range(0,3):  #using a for loop to check the first three digit of the text is the number or not.i.e.022
        if(not text[i].isdecimal()):  #if the text is not decimal then return False
            return False
        
    if(text[3]!='-'):  #if there is no dash at index 3 return False
        return False
    
    for i in range(4,7):  #456
        if(not text[i].isdecimal()): #if there is not decimal then return False
            return False
        
    if(text[7]!='-'):  #if there is no dash at index 7 then return False
        return False
    
    for i in range(8, 12):  #7391
        if(not text[i].isdecimal()):
            return False  
    
    #All the conditions become small if entered text is an phone number
    return True
    #If all these specified conditions are False then return True

In [9]:
no

'022-456-7391'

In [10]:
isphoneno(no)

True

In [11]:
isphoneno("2589-789-456")

False

In [12]:
mesg

'so the mesg is, 022-456-7391 is my home phone number, call me whenever you get time and if it comes busy then try 022-795-7843'

In [13]:
# I create a variabel and set it as a False coz currently I didn't got any number
foundnumber = False
#foundnumber turns True when I find the number
for i in range(len(mesg)):
    chunk = mesg[i:i+12]
    
    if (isphoneno(chunk)):
        print(f"Phone number found :- {chunk}")
        foundnumber = True
        
if(not foundnumber):
    print("Match does not exist")

Phone number found :- 022-456-7391
Phone number found :- 022-795-7843

In [14]:
foundnumber = False

for i in range(len(mesg)):
    chunk = mesg[i:i+12]
    print(chunk)
    
    if (isphoneno(chunk)):
        print(f"Phone number found :- {chunk}")
        foundnumber = True
        
if(not foundnumber):
    print("Match does not exist")

so the mesg
o the mesg i
 the mesg is
the mesg is,
he mesg is,
e mesg is, 0
 mesg is, 02
mesg is, 022
esg is, 022-
sg is, 022-4
g is, 022-45
 is, 022-456
is, 022-456-
s, 022-456-7
, 022-456-73
 022-456-739
022-456-7391
Phone number found :- 022-456-7391
22-456-7391
2-456-7391 i
-456-7391 is
456-7391 is
56-7391 is m
6-7391 is my
-7391 is my
7391 is my h
391 is my ho
91 is my hom
1 is my home
 is my home
is my home p
s my home ph
 my home pho
my home phon
y home phone
 home phone
home phone n
ome phone nu
me phone num
e phone numb
 phone numbe
phone number
hone number,
one number,
ne number, c
e number, ca
 number, cal
number, call
umber, call
mber, call m
ber, call me
er, call me
r, call me w
, call me wh
 call me whe
call me when
all me whene
ll me whenev
l me wheneve
 me whenever
me whenever
e whenever y
 whenever yo
whenever you
henever you
enever you g
never you ge
ever you get
ver you get
er you get t
r you get ti
 you get tim
you get time
ou get time
u get time a
 get time an
get time and
et time and
t time and i
 time and if
time and if
ime and if i
me and if it
e and if it
 and if it c
and if it co
nd if it com
d if it come
 if it comes
if it comes
f it comes b
 it comes bu
it comes bus
t comes busy
 comes busy
comes busy t
omes busy th
mes busy the
es busy then
s busy then
 busy then t
busy then tr
usy then try
sy then try
y then try 0
 then try 02
then try 022
hen try 022-
en try 022-7
n try 022-79
 try 022-795
try 022-795-
ry 022-795-7
y 022-795-78
 022-795-784
022-795-7843
Phone number found :- 022-795-7843
22-795-7843
2-795-7843
-795-7843
795-7843
95-7843
5-7843
-7843
7843
843
43
3

## Pattern matching with Regex

In [15]:
import re

In [16]:
#022-456-7391
#\d\d\d -\d\d\d - \d\d\d\d

mesg = "my phone number is 0224-987-8243"

#step1 -: define the pattern
pattern = re.compile(r"\d\d\d\d-\d\d\d-\d\d\d\d")  #to define we need to use method re.compile

#step2 -: search for the pattern in the given string & store it in match object
mo = pattern.search(mesg)  #to search the pattern we used pattern.search method and then store it in a variable called mo(matched object)

#step3 -: use group method to see your match object value
print(f"Phone number found -: {mo.group()}")

Phone number found -: 0224-987-8243

In [17]:
mo

## We can do grouping using round brackets

In [27]:
pattern = re.compile(r"(\d\d\d)-(\d\d\d-\d\d\d\d)")
mo = pattern.search("My number is 451-825-7931")
mo.group()

'451-825-7931'

In [28]:
mo.group(0)

'451-825-7931'

In [29]:
mo.group(1)

'451'

In [30]:
mo.group(2)

'825-7931'

## Matching multiple groups with pipe operator(|)

In [31]:
mesg = "hello world, this regular expression is written by Jayesh Vikas Patil"

pat = re.compile(r"(Mah|Jay|Shail|Mayur|Brij)esh")
mo = pat.search(mesg)
mo.group()

'Jayesh'

## Matching optional groups with question marks '?'

### ? -> Zero or One time occured in String

In [39]:
mesg1 = "The adventures of Batman"
mesg2 = "The adventures of Batwoman"
mesg3 = "The adventures of Batwowoman"

pat = re.compile(r"Bat(wo)?man")

In [40]:
mo1 = pat.search(mesg1)
mo1.group()

'Batman'

In [41]:
mo2 = pat.search(mesg2)
mo2.group()

'Batwoman'

In [42]:
mo3 = pat.search(mesg3)
mo3.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [43]:
mesg1 = "My number is 022-258-3497"
mesg2 = "My number is 258-7913"

In [49]:
pat = re.compile(r"(\d\d\d-)?\d\d\d-\d\d\d\d")

In [50]:
mo1 = pat.search(mesg1)
mo1.group()

'022-258-3497'

In [51]:
mo2= pat.search(mesg2)
mo2.group()

'258-7913'

# Matching Zero or More with Star *

In [62]:
mesg1 = "This is JayeshVikasPatil"
mesg2 = "This is JayeshVikasVikasPatil"
mesg3 = "This is JayeshVikasVikasVikasPatil"
mesg4 = "This is JayeshPatil"

In [63]:
pat = re.compile(f"Jayesh(Vikas)*Patil")

In [64]:
mo1 = pat.search(mesg1)
mo1.group()

'JayeshVikasPatil'

In [65]:
mo2 = pat.search(mesg2)
mo2.group()

'JayeshVikasVikasPatil'

In [61]:
mo3 = pat.search(mesg3)
mo3.group()

'JayeshVikasVikasVikasPatil'

In [66]:
mo4 = pat.search(mesg4)
mo4.group()

'JayeshPatil'

## Matching one or more with plus +

In [3]:
import re

In [26]:
mesg1 = "This is Jayesh Vikas Patil"
mesg2 = "This is Jayesh VikasVikas Patil"
mesg3 = "This is Jayesh VikasVikasVikas Patil"
mesg4 = "This is Jayesh Patil"

pat = re.compile(f"Jayesh (Vikas)+ Patil")

In [27]:
mo1 = pat.search(mesg1)
mo1.group()

'Jayesh Vikas Patil'

In [28]:
mo2 = pat.search(mesg2)
mo2.group()

'Jayesh VikasVikas Patil'

In [29]:
mo3 = pat.search(mesg3)
mo3.group()

'Jayesh VikasVikasVikas Patil'

In [30]:
mo4 = pat.search(mesg4)
mo4.group()

AttributeError: 'NoneType' object has no attribute 'group'

## Findall

In [72]:
mesg = 'so the mesg is, 022-456-7391 is my home phone number, call me whenever you get time and if it comes bussy then try 022-795-7843'

In [73]:
mesg

'so the mesg is, 022-456-7391 is my home phone number, call me whenever you get time and if it comes bussy then try 022-795-7843'

In [74]:
pat = re.compile(r"\d\d\d-\d\d\d-\d\d\d\d")
mo = pat.search(mesg) #return match object
mo.group()

'022-456-7391'

In [75]:
pat = re.compile(r"\d\d\d-\d\d\d-\d\d\d\d")
mo = pat.findall(mesg) #return a list
mo

['022-456-7391', '022-795-7843']

In [76]:
pat = re.compile(r"\d{3}-\d{3}-\d{4}")
mo = pat.findall(mesg) #return a list
mo

['022-456-7391', '022-795-7843']

In [77]:
mesg = "hello world, this regular expression is written by Jayesh Vikas Patil"

pat = re.compile(r"(Mayur|Sand|Jay|Mah)esh")
mo = pat.findall(mesg)
mo

['Jay']

# Character Classes

- \d -> Any nemeric digit 0-9
- \D -> Any character apart from numeric digit
- \s -> Any Space, new line and tab characters
- \S -> Any character apart from space, newline & tab
- \w -> Any letter, numeric digit and also the underscore character
- \W -> Any character apart from letter, numeric & Underscore
- [A-Z] -> A to Z
- [a-z] -> a to z

In [79]:
script = "12 Drumers druming on the floor, 11 pipers piping on the floor, 10 loards a leaping, 9 ladies dancing, 3 men cleaning"

pat = re.compile(r"\d+\s\w+")
fall = pat.findall(script)
fall

['12 Drumers', '11 pipers', '10 loards', '9 ladies', '3 men']

In [80]:
biodata ="""Mickey is 12 years old,
Rickey is 13 years old,
Pratik is 22 years old,
Faizan is 24 years old
Varun is 25 years old,
Khusali is 26 years old"""

In [81]:
age = re.findall(r"\d+", biodata)
name = re.findall(r"[A-Z][a-z]*", biodata)

In [82]:
age

['12', '13', '22', '24', '25', '26']

In [83]:
name

['Mickey', 'Rickey', 'Pratik', 'Faizan', 'Varun', 'Khusali']

In [84]:
info = {}

x=0
for i in name:
    info[i] = age[x]
    x=x+1

In [85]:
info

{'Mickey': '12',
 'Rickey': '13',
 'Pratik': '22',
 'Faizan': '24',
 'Varun': '25',
 'Khusali': '26'}

In [86]:
import pandas as pd

In [87]:
dic = {"Name":name, "Age":age}

In [88]:
dic

{'Name': ['Mickey', 'Rickey', 'Pratik', 'Faizan', 'Varun', 'Khusali'],
 'Age': ['12', '13', '22', '24', '25', '26']}

In [89]:
df = pd.DataFrame(dic)
df

      Name Age
0   Mickey  12
1   Rickey  13
2   Pratik  22
3   Faizan  24
4    Varun  25
5  Khusali  26

In [90]:
df.to_csv("Biodata.csv", index=False)