# Variables in Python

- A variable is basically a name given to any storage area or memory location in a program. In simple words, we can say that a variable is a container that contains some information, and whenever we need that information, we use the name of that container to access it
- For example, you might want the name x to represent 3. To make it so, simply execute the following:

In [1]:
x = 3

In [2]:
x

3

- This is called an assignment. We assign the value 3 to the variable x. Another way of putting this is to say that we bind the variable x to the value (or object) 3. 
- After youâ€™ve assigned a value to a variable, you can use the variable in expressions:

In [3]:
x * 3

9

- Variable is a kind of a box that can store a single value.
- Variable is  just evaluates to the value it contain
- Values can be stored in variables which can be used in expression or anywhere  , where values are used

In [4]:
x = 4
y = 10

In [5]:
x + y

14

## Rules of creating a variable:-

1. Variables should not start with numbers.
2. Variables can start with '_'(underscore)
3. Variables should not start with any special characters except '_'
4. Variables should not be named after default built-in keywords.
5. Variable name should always be at the left side of the assignment operator( = ).
6. Variable name should always start with an capital or small alphabets not with a number or Special symbols.
7. You can also use alphanumeric name for creating a variable.
8. You cannot use any special characters in variable except "_".
9. You cannot use space in defining the variable use underscore inplace of it.

76abc Syntax error
more@=1000 Syntax error

Keywords cannot be variable names.

In [6]:
import keyword
print(keyword.kwlist, end=" ")

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
2x='Jayesh'

SyntaxError: invalid syntax (1983842289.py, line 1)

In [8]:
_x = 2
_x

2

In [9]:
@h = 25

SyntaxError: invalid syntax (3638762657.py, line 1)

In [10]:
pass = 54

SyntaxError: invalid syntax (315675162.py, line 1)

In [11]:
password= 123456
password

123456

In [12]:
123456= password

SyntaxError: cannot assign to literal (3346287145.py, line 1)

In [13]:
jaye@hg= "Patil"

SyntaxError: cannot assign to operator (3453546214.py, line 1)

In [14]:
x = 25
x

25

In [15]:
y = "Jayesh"
y

'Jayesh'

In [16]:
x2 = "ITVedant"
x2

'ITVedant'

In [17]:
z = "Patil"
z

'Patil'

In [18]:
y +" "+ z

'Jayesh Patil'

## Multiple variable assignment

In [19]:
#Till now we care assigning one variable at a time like this..
x = 10
y = 20

In [20]:
#but we can also assign or declare multiple variable all at once

x, y = 10,20

In [21]:
# so now
x

10

In [22]:
y

20

In [23]:
database = ['Jayesh',1111]

In [24]:
username, pin = database

In [25]:
username

'Jayesh'

In [26]:
pin

1111

In [27]:
a=b=c=[1,2,3]

In [28]:
a

[1, 2, 3]

In [29]:
b

[1, 2, 3]

In [30]:
c

[1, 2, 3]

but a=b=c is not same as a,b,c

In [31]:
a,b,c=[3,4,5]

In [32]:
a

3

In [33]:
b

4

In [34]:
c

5

Lets's try this one

In [35]:
cat = ['Black','Fat','Cute']

In [36]:
cat

['Black', 'Fat', 'Cute']

In [37]:
color,size,looks= cat

In [38]:
color

'Black'

In [39]:
looks

'Cute'

In [40]:
size

'Fat'

## Variable Swapping

In [41]:
a = 'XXXX'

In [42]:
b = 'YYYY'

In [43]:
a

'XXXX'

In [44]:
b

'YYYY'

In [45]:
#value of a equal to be and b equals to a 
#(we are using previous technique of multiple variable assignments)
a,b = b,a

In [46]:
a

'YYYY'

In [47]:
b

'XXXX'

# Data Types in Python

A variable can hold different types of values. For example,a person's name must be stored as a string whereas it's id must be stored as an integer.

Python provides various standard data types that define the storage method on each of them.the data types defined in Python are given below:

## Numbers

Number stores numeric values. Python creates number objects when a number assigned to a variable.For example;
a=3, b=5 #a and b are number objects.
Python supports 4 types of numeric data.

>int(signed integers like 10,2,12,etc.)

>float(float is used to store floating point numbers like 1.9, 9.203,15.2,etc.)

>complex(complex numbers like 2.14j,2.0 + 2.3j,etc.)

A complex number contains an ordered pair i.e.x+iy where x and y denote real and imaginary parts respectively.

### Int
> Whole Number

In [48]:
a = 10

In [49]:
type(a)

int

In [50]:
print(a,"is integer?",isinstance(a,int))

10 is integer? True

In [51]:
b = 30
print(a,b)

10 30

In [52]:
print(a)
print(b)

10
30

In [53]:
a + b

40

In [54]:
a ** 2

100

### Float
>Number with Decimals

In [55]:
a = 12.5
b = 77.5

In [56]:
type(a)

float

In [57]:
print(a,"is float?",isinstance(a,float))

12.5 is float? True

In [58]:
type(b)

float

In [59]:
print(b,"is float?",isinstance(b,float))

77.5 is float? True

In [60]:
print(a,b)

12.5 77.5

In [61]:
a + b

90.0

In [62]:
b / a

6.2

### Complex
>Where you can use real and imaginary parts

In [63]:
c1 = 2+3j
c2 = 5-6j

In [64]:
c1

(2+3j)

In [65]:
c2

(5-6j)

In [66]:
type(c1)

complex

In [67]:
print(c1,"is complex?",isinstance(c1,complex))

(2+3j) is complex? True

In [68]:
type(c2)

complex

In [69]:
print(c2,"is complex?",isinstance(c2,complex))

(5-6j) is complex? True

In [70]:
c3= c1+c2
print(c3)

(7-3j)

In [71]:
c4=c1-c3
print(c4)

(-5+6j)

In [72]:
c3.real

7.0

In [73]:
c4.imag

6.0

## Strings
String can be defined as a sequence of characters represented in a quotation marks.In python, we can use single or double quotes to define a string.

The operator * is known as repitition operator as the operation "Python"*2 returns "PythonPython"

In [74]:
a = "Python"
b = 'Python'

In [75]:
type(a)

str

In [76]:
type(b)

str

In [77]:
print(a,"is string ?",isinstance(b,str))

Python is string ? True

In [78]:
print(b*5)

PythonPythonPythonPythonPython

In [79]:
c = a + b
print("Addition of a and b is",c)

Addition of a and b is PythonPython

## Booleans

>Python implements all of the usual operators for the boolean logic, but uses English symbols rather than symbols(&&,||,etc.)

In [80]:
a = True
b = False

In [81]:
print(a)

True

In [82]:
print(b)

False

In [83]:
type(a)

bool

In [84]:
print(a,"is Boolean ?",isinstance(a,bool))

True is Boolean ? True

In [85]:
p = 30
q = 40

In [86]:
p>50

False

In [87]:
q<100

True

Operations performed on Boolean datatype : AND, OR, NOT

>AND = All my conditions are True.

>OR = Either of condition is True.

>NOT = Just opposite

In [88]:
print("AND operation produces:", a and b)  #True and False

AND operation produces: False

In [89]:
print("OR operation produces:", a or b)  #True or False

OR operation produces: True

In [90]:
print("NOT operation produces:", not b)  #not False

NOT operation produces: True

# Data Structures

>Sequence - List,Tuple

>Mapping - Dictionary

>Set - Unordered collection of distinct objects

## Lists
>[ ] Ordered, Allows Duplicates, Mutable

>1.Lists are just like arrays, declared in other languages.

>2.A single list may contain data types like integers,Strings as well as Objects.Lists are mutable.i.e.Once I define a particular list, I have a liberty to change it in a future.

>3.Lists in Python are ordered and have a definite count.

>4.The elements in lists are indexed according to a definite sequence and the indexing of a list is done with 0 being the first number.

>5.Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.

>6.There are 46 available methods on lists.

>7.In a dictionary, we can't use lists as keys.

### Application :
To store the steps necessary to cook in the kitchen.

In [91]:
a = [1,2,3,1,2,3, 'new', 'old', 13.5, 12+13j, True]

In [92]:
a

[1, 2, 3, 1, 2, 3, 'new', 'old', 13.5, (12+13j), True]

In [93]:
type(a)

list

## Tuples

>The items are surrounded in paranthesis().

>A tuple is an (immutable) ordered list of values.i.e, Once you define a tuple I cannot change it in a future.

>There are 33 available methods in tuples.

>A tuple is in many ways similar to a list; one of the most important difference is that tuples can be used as keys in dictionaries, while lists cannot. Here is a trivial example:

### Application:
>To store latitude and longitude of your home. 

>To store passwords.

In [94]:
# An empty tuple 
empty_tuple = () 
print (empty_tuple)

()

In [95]:
# Creating non-empty tuples 
  
# One way of creation 
tup = 'python', 'State'
print(tup)
  
# Another for doing the same 
tup = ('python', 'State') 
print(tup)

t = (5, 6)       # Create a tuple
print(type(t))

('python', 'State')
('python', 'State')
<class 'tuple'>

In [96]:
tuple1 = 1,2,3
type(tuple1)

tuple

## Dictionaries {Key:Value}
>1.Dictionaries in Python is an unordered collection of data values. used to store data values like a map, whch unlike other data.

>2.Types that hold only single value as an element Dictionary holds key value:pair value.

>3.Key value is provided in the dictionary to make it more optimized.

### Application:
>Used to store data values like a map

>Data Dictionary used in organisation to provide detailed information about the contents of a dataset or a database.

In [97]:
Dict = {}  # Creating an empty Dictionary 
print("Empty Dictionary: ") 
print(Dict) 

Dict = dict({1: 'State', 2: 'Street', 3:'Bellandur'}) # with dict() method 
print(Dict) 

Dict = dict([(1, 'State'), (2, 'Street')]) # with each item as a Pair  
print(Dict)

Empty Dictionary:
{}
{1: 'State', 2: 'Street', 3: 'Bellandur'}
{1: 'State', 2: 'Street'}

In [98]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
# print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('rat' in d)     # Check if a dictionary has a given key; prints "True"

False

In [99]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])

wet

In [100]:
print(d['monkey'])

KeyError: 'monkey'

In [101]:
#Example of dictionary family members and their ages
x = {"Dad":42 , "Mom":39,"Sister":24,"Me":21}

In [102]:
x

{'Dad': 42, 'Mom': 39, 'Sister': 24, 'Me': 21}

In [103]:
x['Dad']

42

# Sets
>1.A set is an unordered collection data type is iterable, mutable and has no duplicate elements.

>2.The major advantage of using a set as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

### Application :
>When we go to the shoping malls, we have noticed that there are separate portions for each kind of things.

>As we all know that there are millions of galaxies present in our world which are separated from each other by some distance.Here, universe act as a set.

>Playlist of songs.

In [104]:
a = {1,2,3,2.3,2,1,2, "New", True}    # It will allow Boolean but dont shown in output

In [105]:
print(a)

{1, 2, 3, 2.3, 'New'}

In [106]:
b= {1,2,3,2.3,2,1,2,2+3j, "New", True}    # It will allow complex numbers but shows them in bracket

In [107]:
b

{(2+3j), 1, 2, 2.3, 3, 'New'}

In [108]:
import random

In [109]:
a = {random.randint(10,100) for i in range(10)}
b = {random.randint(10,100) for i in range(10)}

In [110]:
print("Set A is :",a)

Set A is : {68, 69, 70, 71, 12, 44, 17, 86, 23, 89}

In [111]:
print("Set B is :",b)

Set B is : {41, 45, 46, 15, 19, 52, 84, 55, 57, 95}

In [112]:
type(a)

set

In [113]:
type(b)

set

In [114]:
print(b,"is set?",isinstance(b,set))

{41, 45, 46, 15, 19, 52, 84, 55, 57, 95} is set? True