In order to establish a communication between Python and DBMS. PYMSQL module is required which connect python with DBMS.

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymysql

pymysql.connect() which helps us to connect our python with database.
There are four keyword arguments:
host = "localhost"
user = "root"
password=""
database = "abc"

In [3]:
try:
    db = pymysql.connect(host="localhost",user="root",password="",database="abc")
    print(db)
    print("Connected successfully")
except Exception as e:
    print("Error:",e)

<pymysql.connections.Connection object at 0x00000248E3AFCD60>
Connected successfully

In [4]:
#unknown database error
try:
    db = pymysql.connect(host="localhost",user="root",password="",database="rajat")
    print(db)
    print("Connected successfully")
except Exception as e:
    print("Error:",e)

Error: (1049, "Unknown database 'rajat'")

## CRUD Operations

- C Create => To insert record into database
- R Read => To retrieve all records or single record from database.
- U Update => To update record from database.
- D Delete => To delete record from database.

Insert record into Database Table task.

Step 1: Connect python with DBMS.
Step 2: Cursor creation cu=db.cursor()
Step 3: Prepare sql query for operation(string) q="sql query"
Step 4: Execute query with cursor cu.execute(q)
Step 5: commit() =>db.commit()

In [6]:
try:
    db = pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu = db.cursor()
    q = "insert into students(Name,Course,Date)values('Suraj','AWS','2022-10-21')"
    cu.execute(q)
    db.commit()
    print("Record inserted successfully")
except Exception as e:
    print("Error:",e)

Record inserted successfully

In [7]:
try:
    db = pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu = db.cursor()
    q = "insert into students(Name,Course,Date)values('Rajat','Data Science','2022-06-01')"
    cu.execute(q)
    db.commit()
    print("Record inserted successfully")
except Exception as e:
    print("Error:",e)

Record inserted successfully

In [10]:
try:
    db = pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu = db.cursor()
    n="Sarvesh"
    c="Data Science"
    dt="2022-09-15"
    q = "insert into students(Name,course,date)values('{}','{}','{}')".format(n,c,dt)
    cu.execute(q)
    db.commit()
    print("Record inserted successfully")
except Exception as e:
    print("Error:",e)

Record inserted successfully

### Retrieve the records

1.Retrieve all records from database table task.

In [11]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    q="select * from students"
    cu.execute(q)
    data=cu.fetchall()
    print(data)
    
except Exception as e:
    print("Error occured :",e)

((1, 'Suraj', 'AWS', datetime.date(2022, 10, 21)), (2, 'Rajat', 'Data Science', datetime.date(2022, 6, 1)), (3, 'Sarvesh', 'Data Science', datetime.date(2022, 9, 15)))

In [12]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    q="select * from students"
    cu.execute(q)
    data=cu.fetchall()
    for x in data:
        print(x)
except Exception as e:
    print("Error occured :",e)

(1, 'Suraj', 'AWS', datetime.date(2022, 10, 21))
(2, 'Rajat', 'Data Science', datetime.date(2022, 6, 1))
(3, 'Sarvesh', 'Data Science', datetime.date(2022, 9, 15))

In [13]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    q="select * from students"
    cu.execute(q)
    data=cu.fetchall()
    for x in data:
        print(list(x))
except Exception as e:
    print("Error occured :",e)

[1, 'Suraj', 'AWS', datetime.date(2022, 10, 21)]
[2, 'Rajat', 'Data Science', datetime.date(2022, 6, 1)]
[3, 'Sarvesh', 'Data Science', datetime.date(2022, 9, 15)]

In [14]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    q="select * from students"
    cu.execute(q)
    data=cu.fetchall()
    for x in data:
        print(x[0],end=" ")
        print(x[1],end=" ")
        print(x[2],end=" ")
        print(x[3])
except Exception as e:
    print("Error occured :",e)

1 Suraj AWS 2022-10-21
2 Rajat Data Science 2022-06-01
3 Sarvesh Data Science 2022-09-15

2.Retrieve single record from database table task.

In [15]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    rid=3
    q="select * from students where id='{}'".format(rid)
    cu.execute(q)
    data=cu.fetchall()
    print(data)
except Exception as e:
    print("Error occured :",e)

((3, 'Sarvesh', 'Data Science', datetime.date(2022, 9, 15)),)

In [16]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    rid=1
    q="select * from students where id='{}'".format(rid)
    cu.execute(q)
    data=cu.fetchall()
    print(data)
except Exception as e:
    print("Error occured :",e)

((1, 'Suraj', 'AWS', datetime.date(2022, 10, 21)),)

In [17]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    rid=2
    q="select * from students where id='{}'".format(rid)
    cu.execute(q)
    data=cu.fetchall()
    print(data)
except Exception as e:
    print("Error occured :",e)

((2, 'Rajat', 'Data Science', datetime.date(2022, 6, 1)),)

In [18]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    dt="2022-06-01"
    q="select * from students where date='{}'".format(dt)
    cu.execute(q)
    data=cu.fetchall()
    for x in data:
        print(x)
except Exception as e:
    print("Error occured :",e)

(2, 'Rajat', 'Data Science', datetime.date(2022, 6, 1))

In [21]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    d1="2022-06-01"
    d2 = "2022-12-31"
    q="select * from students where date between '{}' and '{}'".format(d1,d2)
    cu.execute(q)
    data=cu.fetchall()
    for x in data:
        print(x)
except Exception as e:
    print("Error occured :",e)

(1, 'Suraj', 'AWS', datetime.date(2022, 10, 21))
(2, 'Rajat', 'Data Science', datetime.date(2022, 6, 1))
(3, 'Sarvesh', 'Data Science', datetime.date(2022, 9, 15))

## Update Operation

update tablename set colname1=value1, colname2=value2,...,colnamen=valuen where id=idvalue

In [2]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    ut="insert completed"
    ud="inserting record completed"
    udt="2022-06-19"
    q="update task set title='{}',detail='{}',date='{}'".format(ut,ud,udt)
    cu.execute(q)
    db.commit()
    print("Record updated successfully!!")
    
    
except Exception as e:
    print("Error occured :",e)

Record updated successfully!!

In [22]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    ut="Rajat Goel"
    ud="Full Stack"
    udt="2022-06-19"
    rid=2
    q="update students set name='{}',course='{}',date='{}' where id='{}'".format(ut,ud,udt,rid)
    cu.execute(q)
    db.commit()
    print("Record updated successfully!!")
    
    
except Exception as e:
    print("Error occured :",e)

Record updated successfully!!

## Delete Operation

delete from tablename where id=value

In [23]:
try:
    db=pymysql.connect(host="localhost",user="root",password="",database="abc")
    cu=db.cursor()
    rid=2
    q="delete from students where id='{}'".format(rid)
    cu.execute(q)
    db.commit()
    print("Record deleted Successfully")
    
except Exception as e:
    print("Error occured :",e)

Record deleted Successfully