# Data Structures

## List

>A list is a group of sequence of values of similar or different datatype that are separated by comma(,) and surrouded by square brackets [ ]

>Values in a list are also called items or elements.

>You can access items in a list with its integer index.

>The indexes starts at 0 , not 1.

>The lists can be modified.

In [1]:
#Example of list
[1,2,3,4,5,6,7,8,9,10]
#[0,1,2,3,4,5,6,7,8,9] will be its index

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 1.Operations in List

In [2]:
[1,2,3]+[4,5,6]  #Concatenation

[1, 2, 3, 4, 5, 6]

In [3]:
[1,2,3] * 5  #Replication

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
# Indexing
x=[1,2,3,4]

x[2]

3

In [5]:
x[1:3]  #Slicing

[2, 3]

Some other stuffs we do on list

In [6]:
#Creating a list
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [7]:
#Fetching the memory location id of that list
id(x)

1641371098624

In [8]:
#Counting the total number of elements in list
len(x)

5

In [9]:
#Merging new list
x[5:] = [6,7,8,10]     # x.extend([6,7,8,10])
x

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [10]:
x.extend([10,11,12,13])
x

[1, 2, 3, 4, 5, 6, 7, 8, 10, 10, 11, 12, 13]

In [11]:
#Other way to add elements in the list
x.append(11)
x

#append is method and takes exactly one arguments and
#adds the element at the end of list

[1, 2, 3, 4, 5, 6, 7, 8, 10, 10, 11, 12, 13, 11]

In [12]:
#Updating values by index or position (Replacing position).
x.insert(8,9)
x
#insert is the method and take 2 argument 
# syntax - list.insert(index_number,new_element)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 13, 11]

In [13]:
#Updating single elements (Replacing elements)
x[0] ='One'
x

['One', 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 13, 11]

In [14]:
#Updating multiple elements (Replacing elements)
x[1:3] =['Two','Three']
x

['One', 'Two', 'Three', 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 13, 11]

In [15]:
#Deleting single element by index number
del x[10]     
x

# element 11 is at 10th index

['One', 'Two', 'Three', 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 11]

In [16]:
#Deleting Multiple elements of list by index number
x[2:7] = []     # del x[2:7]
x

#it will start deleting from index number 2 till 7 but
# it will not include 7th index
# that mean it will delete till 6th index

['One', 'Two', 8, 9, 10, 11, 12, 13, 11]

In [17]:
#Deleting complete list
x[:] = []
x

[]

#### Typecasting into list

In [18]:
x= 'Jayesh'
x

'Jayesh'

In [19]:
list(x)    #converting string into list

['J', 'a', 'y', 'e', 's', 'h']

### 2.Methods in List

>Methods are function that are called on values.

#### APPEND
>The append method adds the value at the end of the list and takes only one argument

>list.append(x)

In [21]:
mylist = [1,2,3,4,5]

In [22]:
mylist.append(6)

In [23]:
mylist

[1, 2, 3, 4, 5, 6]

#### EXTEND
>The extend method adds the multiple element at once in the end, or you can say it merges two different list together

>list.extend(x)

In [24]:
mylist

[1, 2, 3, 4, 5, 6]

In [25]:
add = [7,8,9,10]
mylist.extend(add)

In [26]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

See what happens when we pass add list with append

In [27]:
add

[7, 8, 9, 10]

In [28]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
mylist.append(add) #this is what happens when we try to use append

In [30]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [7, 8, 9, 10]]

#### COUNT
>The count method counts the number of element present in the list

>list.count(x)

In [31]:
newlist= ['hey','this','is','python','python']

In [32]:
newlist

['hey', 'this', 'is', 'python', 'python']

In [33]:
newlist.count('python')

2

In [34]:
newlist.count('this')

1

#### INDEX
>The index method gives the index number of specified element.

>list.index(x)

In [35]:
newlist

['hey', 'this', 'is', 'python', 'python']

In [37]:
newlist.index("is")

2

In [38]:
newlist.index("hey")

0

#### INSERT
>The insert method add the new element in the list at specified index

>list.insert(index,newelement)

In [39]:
newlist

['hey', 'this', 'is', 'python', 'python']

In [41]:
newlist.insert(4,'Programming')

In [42]:
newlist

['hey', 'this', 'is', 'python', 'Programming', 'python']

#### POP
>The pop method deletes the element by index

>list.pop(x)

In [43]:
newlist.pop(5)

'python'

In [44]:
newlist

['hey', 'this', 'is', 'python', 'Programming']

#### REMOVE
>The remove method deletes the specified element

>list.remove(x)

In [46]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [7, 8, 9, 10]]

In [47]:
mylist.remove([7,8,9,10])

In [48]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
mylist.remove(7)

In [50]:
mylist

[1, 2, 3, 4, 5, 6, 8, 9, 10]

#### REVERSE
>The reverse method is used to reverse the list.

>list.reverse()

In [51]:
mylist= [6,1,8,9,2,3,4,5,10]
mylist

[6, 1, 8, 9, 2, 3, 4, 5, 10]

In [53]:
mylist.reverse()

In [54]:
mylist

[10, 5, 4, 3, 2, 9, 8, 1, 6]

#### SORT
>The sort method sorts the list in ascending order.

>list.sort()

In [56]:
mylist

[10, 5, 4, 3, 2, 9, 8, 1, 6]

In [57]:
mylist.sort()

In [58]:
mylist

[1, 2, 3, 4, 5, 6, 8, 9, 10]

we can also make this sorted list in descending order

In [59]:
mylist.sort(reverse=True)
mylist

[10, 9, 8, 6, 5, 4, 3, 2, 1]

In [60]:
lists = ['A','b','z','Z','B','a']

In [61]:
lists.sort()

In [62]:
lists

['A', 'B', 'Z', 'a', 'b', 'z']

this is basically sort but not as we wanted. 
since Ascii-bettical gives preference to capital letter first.

so to solve this we can use this one,

In [63]:
lists.sort(key=str.lower)

In [64]:
lists

['A', 'a', 'B', 'b', 'Z', 'z']

#### JOIN
>The join method joins a specified values with every element of list and return string.

>list.join(x)

In [65]:
newlist = ['hey', 'this', 'is', 'python', 'programming']

In [66]:
value = 'there'

In [67]:
value

'there'

In [68]:
value.join(newlist)

'heytherethisthereistherepythonthereprogramming'

In [69]:
value=' '
value

' '

In [70]:
value.join(newlist)

'hey this is python programming'

## Shallow Copy and Deep Copy
>It will work across Python.

>Shallow copy = Assigns value of a variable into another. (Dependent on each other)

>Deep copy = Copies the value from one variable and pastes it into another. (Independent of each other)

### Shallow Copy

In [2]:
b = [0,1,2,3,4,5,6,7,8,9]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
c = b

In [4]:
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
c.append("New")

In [6]:
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'New']

In [7]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'New']

In [8]:
b.pop()

'New'

In [9]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Deep Copy

In [11]:
d = b.copy()
d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
d.pop()
d

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Indexing and Slicing
In addition to accessing the list elements one at a time, Python provides concise syntax to access sublists; this is known as Slicing.

>Index from left to right starts from 0

>Index from right to left starts from -1

In [15]:
#a[x:y] start at position x and go till y excluding y

In [16]:
str_list = ["a","b","c","d","e","f"]
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

In [17]:
print(str_list[1])
print(str_list[-1])

b
f

In [18]:
print(str_list[2:4])    # Get a slice from index 2 to 4 (exclusive)
print(str_list[2:])     # Get a slice from index 2 to the end
print(str_list[:2])     # Get a slice from the start to index 2 (exclusive)
print(str_list[:])      # Get a slice of the whole list
print(str_list[:-1])    # Slice indices can be negative

['c', 'd']
['c', 'd', 'e', 'f']
['a', 'b']
['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e']

In [21]:
a = [1,2,3,1,2,3, 'new', 'old', 13.5, True]

In [22]:
print("Positive indexing starts with: 0")
print("Negative indexing starts with: -1")
print("====="*5)

print('the List contains', a)
print('\nAll the Elements:', a[:])  #[Start position : End position]
print('\nFrom 2nd Element:', a[2:])
print('\nUntil 4th Element:', a[:4])
print('\nFrom 2nd to 5th Element:', a[2:5])
print('\nOnly the last Element:', a[-1])
print('\nWith intervals:', a[::2])
print('\nWith interval of One:',a[::1]) #[Start Position : End Position : Intervals]
print('\nReverse:', a[::-1])

Positive indexing starts with: 0
Negative indexing starts with: -1
=========================
the List contains [1, 2, 3, 1, 2, 3, 'new', 'old', 13.5, True]

All the Elements: [1, 2, 3, 1, 2, 3, 'new', 'old', 13.5, True]

From 2nd Element: [3, 1, 2, 3, 'new', 'old', 13.5, True]

Until 4th Element: [1, 2, 3, 1]

From 2nd to 5th Element: [3, 1, 2]

Only the last Element: True

With intervals: [1, 3, 2, 'new', 13.5]

With interval of One: [1, 2, 3, 1, 2, 3, 'new', 'old', 13.5, True]

Reverse: [True, 13.5, 'old', 'new', 3, 2, 1, 3, 2, 1]

In [23]:
s = "JayeshPatil"
print(s)
print(s[5])
#print(s[7])gives an error
print(s[-1])
print(s[-7])
print(s[1:5]) #start index to end index
print(s[0:3]) #o to (3-1)
print(s[3:])
print(s[:6]) #o to (6-1)
print(s[-6:-2]) #startingindex=-6 and(EI-1)=(-2-1)
print(s[2],s[4])
print(s)
print(s[::-1])  #print the string in reverse

JayeshPatil
h
l
s
ayes
Jay
eshPatil
Jayesh
hPat
y s
JayeshPatil
litaPhseyaJ

In [24]:
b = s[6:]
c = s[0:6]
d = b + c
print(d)

PatilJayesh

In [25]:
s[6:]+s[0:6]

'PatilJayesh'

In [26]:
#Slicing iand indexing in String

a = "Python Programming"

print('\nAll the Elements:', a[:])  #[Start position : End position]
print('\nFrom 2nd Element:', a[2:])
print('\nUntil 4th Element:', a[:4])
print('\nFrom 2nd to 5th Element:', a[2:5])
print('\nOnly the last Element:', a[-1])
print('\nWith intervals:', a[::2])
print('\nWith interval of One:',a[::1]) #[Start Position : End Position : Intervals]
print('\nReverse:', a[::-1])

All the Elements: Python Programming

From 2nd Element: thon Programming

Until 4th Element: Pyth

From 2nd to 5th Element: tho

Only the last Element: g

With intervals: Pto rgamn

With interval of One: Python Programming

Reverse: gnimmargorP nohtyP

In [27]:
x =[1,2,3,["a","b","c",[1.0,2.0,3.0]]]

In [28]:
x

[1, 2, 3, ['a', 'b', 'c', [1.0, 2.0, 3.0]]]

##### The task is to get the 2.0 value

In [29]:
x[3][3][1]

2.0