## Tuples

>The items are surrounded in paranthesis().

>A tuple is an (immutable) ordered list of values.i.e, Once you define a tuple I cannot change it in a future.

>There are 33 available methods in tuples.

>A tuple is in many ways similar to a list; one of the most important difference is that tuples can be used as keys in dictionaries, while lists cannot. Here is a trivial example:

In [1]:
# An empty tuple 
empty_tuple = () 
print (empty_tuple)

()

In [2]:
# Creating non-empty tuples 
  
# One way of creation 
tup = 'python', 'State'
print(tup) 
  
# Another for doing the same 
tup = ('python', 'State') 
print(tup)

t = (5, 6)       # Create a tuple
print(type(t))

('python', 'State')
('python', 'State')
<class 'tuple'>

In [23]:
x=(56,)

In [24]:
type(x)

tuple

In [3]:
a = (1,2,3,4, "New", 4.5, True, 1,2)
a

(1, 2, 3, 4, 'New', 4.5, True, 1, 2)

In [4]:
type(a)

tuple

In [5]:
print(a[0])   #Let us to access the values
print(a[1])
print(a[2])
print(a[3])

1
2
3
4

In [6]:
a[0] = "Old"  #Did not support Item Assignment

TypeError: 'tuple' object does not support item assignment

In [7]:
b = tuple(range(10))

In [8]:
b

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [22]:
print(b*3,end=" ")

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [9]:
print('\nAll the Elements:', a[:])  #[Start position : End position]
print('\nFrom 2nd Element:', a[2:])
print('\nUntil 4th Element:', a[:4])
print('\nFrom 2nd to 5th Element:', a[2:5])
print('\nOnly the last Element:', a[-1])
print('\nWith intervals:', a[::2])
print('\nWith interval of One:',a[::1]) #[Start Position : End Position : Intervals]
print('\nReverse:', a[::-1])

All the Elements: (1, 2, 3, 4, 'New', 4.5, True, 1, 2)

From 2nd Element: (3, 4, 'New', 4.5, True, 1, 2)

Until 4th Element: (1, 2, 3, 4)

From 2nd to 5th Element: (3, 4, 'New')

Only the last Element: 2

With intervals: (1, 3, 'New', True, 2)

With interval of One: (1, 2, 3, 4, 'New', 4.5, True, 1, 2)

Reverse: (2, 1, True, 4.5, 'New', 4, 3, 2, 1)

In [10]:
c = list(a)
c[4] = "Old"
a = tuple(c)
a

(1, 2, 3, 4, 'Old', 4.5, True, 1, 2)

In [11]:
a.count(2)

2

In [12]:
a.count("Old")

1

In [13]:
a.index(4.5)

5

In [14]:
# Code for concatenating 2 tuples 
  
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'State') 
  
# Concatenating above two 
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'State')

In [15]:
# Code for creating nested tuples 
  
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'State') 
tuple3 = (tuple1, tuple2) 
print(tuple3)

((0, 1, 2, 3), ('python', 'State'))

In [16]:
t[0] = 1
print [1:5]

TypeError: 'tuple' object does not support item assignment

In [17]:
# code to test slicing 
  
tuple1 = (0 ,1, 2, 3) 
print(tuple1[1:]) 
print(tuple1[::-1]) 
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [18]:
# Code for deleting a tuple 
  
tuple3 = ( 0, 1) 
del tuple3 
print(tuple3)

NameError: name 'tuple3' is not defined

In [19]:
# Code for converting a list and a string into a tuple 
  
list1 = [0, 1, 2] 
print(tuple(list1)) 
print(tuple('python')) # string 'python'

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

In [25]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [26]:
3 in t1

True

In [27]:
len(t1)

3

In [28]:
max(t1)

3

In [29]:
min(t1)

1

In [30]:
# + concatenation 
# * repetition
t1 = (1,2,3)
t2 = (5,6,4,1)
print(t1+t2)
print(t1*3)
print(len(t1))
print(max(t1))
print(min(t2))
print(tuple([1,2,3,4,5,6]))
print(list((1,2,3,4,5,6)))

(1, 2, 3, 5, 6, 4, 1)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
3
3
1
(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]